.agile {
    &__hero {
        padding: 56px 0;
        &__block {
            &__pink {
                color: $color-pink;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                font-family: var(--lk-font-roboto);
                text-transform: uppercase;
            }
            h1 {
                @include respond-to("<=s") {
                    font-size: 28px;
                    line-height: 36px;
                }
            }
            &__grey {
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                color: $color-lang-secondary;
                @include respond-to("<=s") {
                    font-size: 16px;
                    line-height: 28px;
                    br {
                        display: none;
                    }
                }
            }
        }
    }
    &__heroGrey {
        padding: 56px 0;
        background-color: $color-bright-gray-01;
    }
    &__intro {
        padding: 56px 0;
        &__block {
            &__img {
                position: relative;
                width: 100%;
                height: 360.98px;
            }
        }
    }
    &__intro2 {
        padding: 56px 0;
        &__block {
            > div > div {
                padding: 0 !important;
            }
            &__img {
                position: relative;
                width: 100%;
                height: 228px;
            }
        }
    }
    &__sections {
        @include respond-to("<=m") {
            background-color: $color-neutral-black;
        }
        &__block {
            background: linear-gradient(270deg, $color-neutral-black 51.79%, rgba(217, 217, 217, 0) 52%);
            > div > div {
                padding: 0 !important;
                position: relative;
            }
            &__white {
                @include respond-to("<=m") {
                    display: none;
                }
            }
            &__aside {                
                z-index: 2;
                position: absolute;
                display: grid;
                gap: 16px;
                top: 56px;
                left: -81px;
                @include respond-to("<=m") {
                    display: none;
                }
                a {
                    display: grid;
                    grid-template-columns: 55px auto;
                    align-items: center;
                    gap: 26px;
                    text-decoration: none;
                    span {
                        text-align: right;
                        text-transform: uppercase;                        
                    }
                    div {
                        position: relative;
                        width: 50px;
                        height: 5px;
                    }
                }
                   
            }
            &__black {
                // transform: translateY(-160px);
                z-index: 1;
                background-color: $color-neutral-black;
                padding: 56px 0px 56px 125px;
                display: grid;
                position: relative;
                @include respond-to("l") {
                    padding: 56px 0px 56px 70px;
                }
                @include respond-to("m") {
                    padding: 56px 0;
                }
                @include respond-to("<=s") {
                    padding: 56px 16px;
                }
                &__item {
                    display: grid;
                    grid-template-columns: 340px 1fr;
                    gap: 57px;
                    padding-bottom: 72px;
                    @include respond-to("<=s") {
                        grid-template-columns: 1fr;
                        justify-items: center;
                        gap: 0px;
                    }
                    &__content {
                        h2{
                            color: $color-pink;
                        }
                        p {
                            color: white;
                        }
                    }
                    &__pushedDown {
                        padding: 78px 0;
                        @include respond-to("<=s") {
                            padding: 0;
                        }
                    }
                    &__maadImage {
                        position: relative;
                        width: 100%;
                        height: 323px;
                        width: 349px;
                        @include respond-to("l") {
                            width: 340px;
                            height: 310.56px;
                        }
                        @include respond-to("<=m") {
                            width: 323px;
                            height: 440px;
                        }
                        img {
                            margin-top: 76.5px;
                            @include respond-to("<=s") {
                                margin: 0;
                            }
                        }                         
                    }
                    &__flareImage {
                        position: relative;
                        width: 100%;
                        height: 372px;
                        width: 362px;
                        @include respond-to("l") {
                            width: 340px;
                            height: 351.01px;
                        }
                        @include respond-to("<=m") {
                            width: 323px;
                            height: 216px;
                        }
                        img {
                            margin-top: 22px;
                        }                         
                    }
                    &__scrumImage {
                        position: relative;
                        width: 100%;
                        height: 284.11px;
                        width: 371px;
                        @include respond-to("l") {
                            width: 308px;
                            height: 272px;
                        }
                        @include respond-to("<=m") {
                            width: 323px;
                            height: 328px;
                        }
                        img {
                            margin-top: 25.94px;
                        }                        
                    }
                    &__cdImage {
                        position: relative;
                        width: 100%;
                        height: 176px;
                        width: 415px;
                        @include respond-to("l") {
                            width: 308px;
                            height: 185px;
                        }
                        @include respond-to("<=m") {
                            width: 323px;
                            height: 244px;
                        }
                        img {
                            margin-top: 52px;
                        }                         
                    }
                }
                
            }
        }
    }
}