.ams {
    &__goBack {
        @include respond-to("<=s") {
            justify-content: start;
        }
        &:first-child>div>div {
            align-content: center;
            align-items: center;
            display: grid;
            grid-template-columns: 4.5% auto;
            @include respond-to("<=s") {
                grid-template-columns: 25% auto;
            }
            padding: 10px 8px;
        }

        background-color: $color-neutral-black;
        justify-content: center;

        img {
            cursor: pointer;
        }

        span {
            color: white;
        }
    }
    &__hero {
        height: 457px;
        background-color: $color-bright-gray-01;
        @include respond-to("<=m") {
            height: auto;
        }
        &__cloudsContainer {
            position: absolute;
            right: 0;   
            top: 0;
            width: 120px;
            height: 100%;
            @include respond-to("<=m") {
                height: 62%;
            } 
            @include respond-to("<=s") {
                display: none;
            }                                  
        }        
        &__left {                    
            > div > div {
                position: relative;
                height: 100%;
                padding: 0 !important;
                @include respond-to("<=m") {
                    min-height: 457px;
                }
                @include respond-to("<=s") {
                    min-height: 324px;
                }
            }   
            &__sections {
                display: grid;
                height: inherit;
                grid-template-columns: repeat(5, auto);
                @include respond-to("<=xl") {
                    grid-template-columns: repeat(4, min-content);
                    transform: translateX(-87px);
                }
                @include respond-to("<=xs") {
                    grid-template-columns: repeat(4, min-content);
                    transform: translateX(-126px);
                }
            }
            &__before {
                width: 17vw;
                height: 100%;
                background-color: $color-bright-gray-01;
                @include respond-to("<=xl") {
                    display: none;
                }
            }
            &__diagonal {
                width: 209px;
                position: relative;
                height: 100%;
                top: 1px;      
                @include respond-to("<=s") {
                    width: 148px;
                }          
            }
            &__cyan, &__blue, &__gray {
                height: 100%;
                width: 212px;
                position: relative;
                display: grid;
                align-content: center;
                h3 {
                    text-transform: none;
                    @include respond-to("<=l") {
                        font-size: 18px;
                    }
                    @include respond-to("<=xs") {
                        font-size: 16px;
                    }
                }
                @include respond-to("<=l") {
                    width: 172px;
                }
                @include respond-to("<=xs") {
                    width: 133px;
                }
                &__inter {
                    height: 457px;
                    width: 120px;
                    position: absolute;
                    right: -1px;
                    top: 2px;
                    @include respond-to("<=s") {
                        height: 324px;
                        right: -19px;                        
                    }
                    @include respond-to("<=xs") {
                        display: none;
                    }
                }
                &__small {
                    height: 324px;
                    width: 85px;
                    right: -19px; 
                    position: absolute;
                    right: -1px;
                    top: 2px;
                    display: none;
                    @include respond-to("<=xs") {
                        display: block;
                    }     
                } 
            }
            &__cyan {
                background-color: $color-cyan;  
                @include respond-to("<=m") {
                    &__inter {
                        top: 0;                    
                    }
                }
                                
                &__small {
                    top: 0;
                }             
            }
            &__blue {
                background-color: $color-blue;
                h3 {
                    color: white;
                }
            }
            &__gray {
                background-color: $color-bright-gray;
                &__inter {
                    @include respond-to("<=xs") {
                        display: block;
                    } 
                }
            }            
        }
        &__right {          
            padding: 58px 0px;
            @include respond-to("<=m") {
                width: 100vw;
            } 
            > div {
                display: grid;
                justify-content: center;
                align-content: center;                               
            }
            p {
                font-size: 20px;
                line-height: 30px;    
                @include respond-to("<=l") {
                    font-size: 16px;
                    line-height: 28px;
                }           
            }            
        }
    }
    &__content {        
        &__left, &__right {
            padding: 92px 0px;
        }
        &__left {
            background-color: $color-bright-gray-01;

            &__kanban {
                position: relative;
                height: 323px;
                background-color: $color-blue;
                display: grid;
                @include respond-to("<=l") {
                        height: 269px;
                }
                @include respond-to("<=m") {
                    height: 323px;
                }
                @include respond-to("<=s") {
                    height: 190px;
                }
                @include respond-to("<=xs") {
                    height: 130px;
                }
                span {
                    width: 96% !important; 
                    height: 95% !important;
                    margin: auto !important;                                       
                }                
            }
        }
    }
    &__navigation {
        background-color: $color-bright-gray;
        &__block {
            &:first-child > div > div > div {
                display: grid;
                grid-template-columns: max-content auto;
                align-items: center;
                gap: 16px;
                width: fit-content;
                cursor: pointer;
                span {
                    color: $color-neutral-black;
                    font-family: $font-secondary;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                }
                &:hover {
                    span {
                        color: $color-pink;
                    }
                }
                img {
                    width: min-content;
                }
            }
        }
    }
}