.discovery {
  &__hero {
    &__column {
      padding-top: 41px;
      &__text {
        > div > div {
          @include respond-to(">=xxl") {
            padding-left: 0px !important;
          }
          @include respond-to("xxxl") {
            padding-left: 202px !important;
          }
        }
        &__pinkSpan {
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          color: $color-pink;
          font-family: var(--lk-font-roboto);
        }
        &__graySpan {
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          color: $color-lang-secondary;
          @include respond-to("s") {
            br {
              display: none;
            }
          }
          @include respond-to("<=xs") {
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            br {
              display: none;
            }
          }
        }
      }
      &__img{
        margin-top: 25px;
        > div > div {
          @include respond-to(">=xxl") {
            padding-left: 0px !important;
          }
          @include respond-to("xxxl") {
            padding: 0px 202px !important;
          }
        }
        &__container {
          position: relative;
          height: 410px;
          width: 100%;
          img {
            object-fit: cover;
          }
        }
      }
    }
  }
  &__content {
    &__column {
      padding: 40px 0;
      row-gap: 24px;
      &__imgContainer {
        position: relative;
        width: 100%;
        height: 399.53px;
        @include respond-to("<=xs") {
          height: 200.59px;
        }
        img {
          object-fit: cover;
        }
      }
      &__imgContainer2 {
        height: 411.02px;
        @include respond-to("<=xs") {
          height: 205.86px;
        }
      }
      &__imgContainer3 {
        height: 412.56px;
        @include respond-to("<=xs") {
          height: 206.56px;
        }
      }
    }
  }
}