.discovery {
  &__goBack {
    @include respond-to("<=s") {
      justify-content: start;
  }
    &:first-child > div > div{
      align-content: center;
      align-items: center;
      display: grid;
      grid-template-columns: 4.5% auto;
      @include respond-to("<=s") {
        grid-template-columns: 25% auto;
    }
      padding: 10px 8px;
      }
      background-color: $color-neutral-black;
      justify-content: center;
      img {
        cursor: pointer;
      }
      span {
        color: white;
      }
  }
  &__hero {
    max-height: 591px;
    overflow: hidden;
    @include respond-to("l") {
      grid-template-columns: 47% auto !important;
    }
    @include respond-to("m") {
      grid-template-columns: calc(38% + 5px) auto !important;
    }
    &__triangle {
      position: absolute;
      right: 0px;
      height: 100%;
      justify-items: unset;
      @include respond-to("<=m") {
        display: none;
      }
    }
    &__phases {
      position: relative;

      > div > div {
        @include respond-to("<=s") {
          height: 324px;
          position: relative;
          display: grid;
          justify-items: baseline;
        }
      }
      &__svg{
        position: absolute;
        right: 0;
        transform: translate(0, -2.5%);
        @include respond-to("<=m") {
          display: none;
        }
      }
      &__svgMed {
        display: none;
        @include respond-to("m") {
          display: block;
          position: absolute;
          right: 0;
          transform: translate(0%, -2.5%);
        }
      }
      &__svgMobile { //TODO: img moving around on S resolution
        display: none;
        position: absolute;
        bottom: 17px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        @include respond-to("<=s") {
          display: block;
          transform: translateY(calc(6% + 2px));
        }
      }
      &__svgLine {
        display: none;
        @include respond-to("<=s") {
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          transform: translateY(13%);
        }
      }
      &__arrow {
        position: absolute;
        div {
          width: 100%;
          position: absolute;
          height: .5px;
          background-color: $color-neutral-black;
          left: -22px;
          transform: translateY(50%);          
           &::before {
            content: '';
            position: absolute;
            width: 350px;
            height: 1px;
            background-color: $color-neutral-black;
            transform: translateY(275px);
            overflow: hidden;
          }

          @include respond-to("<=s") {
            display: none;
            width: .5px;
            height: 100%;
            left: 50%;
            top: 0%;
            transform: translateX(-50%);
            opacity: .6;
             &::before { top: calc(100% - 6px) }
            &::before {
              left: 24vw;
              transform: rotate(-90deg);
            }
          }
        }
      }
    }
    &__blue {

      > div {
        
        width: inherit !important;
        @include respond-to("m") {
          width: auto !important;
        }
      }
      > div > div {
        padding: 250px 0 !important;
        @include respond-to("l") {
          padding: 256px 0 !important;
        }
        @include respond-to("<=s") {
          padding: 72px 16px !important;
          justify-content: center;
          display: grid;
        }
      }
      &__content {
        width: 420px;
        padding-left: 163px;
        @include respond-to("l") {
          padding-left: 54px;
        }
        @include respond-to("<=m") {
         padding-left: 0px;
        }
        @include respond-to("<=xs") {
          width: auto;
        }
        p {
          color: white;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          margin: 0px;
          width: 420px;
          @include respond-to("<=xs") {
            font-size: 16px;
            line-height: 28px;
            width: 327px;
            padding-left: 16px;
          }
        }
      }
      background-color: $color-blue;
      justify-items: center;
      
    }
  }
  &__banner {
    display: grid;
    place-content: center;
    height: auto;
    //padding: 108px 0px;
    text-align: center;
    line-height: 52px;
   
    @include respond-to("<=xs") {
      text-align: unset;
      padding: 71px 15px;
    }
    h2{
      margin: 0px;
    }
  }
  &__summary {
    padding: 92px 16px;
    gap: 96px;
    &__first {

    }
    &__second {}
    &__third {
       >div > div {
        display: grid;
        place-content: center;
        background: $color-blue;
       }
      &__image {
        position: relative;
        height: 438.49px;
        aspect-ratio: 1.49 / 1;
        @include respond-to("l") {
          height: 368.6px;
        }
        @include respond-to("m") {
          height: 438.49px;
        }
        @include respond-to("<=s") {
          height: 209.67px;
        }
      }
    }
  }
  &__next {
    justify-content: end;
    background-color: $color-bright-gray;
    &:first-child > div {
      align-items: center;
      display: grid;
      @include respond-to("<=xs") {
        align-items: end;
      }
    }
    height: 142px;
    &:first-child > div > div > div{
      align-items: center;
      display: grid;
      grid-template-columns: auto auto;
      justify-content: end;
      gap: 16px;
      cursor: pointer;
      @include respond-to("<=xs") {
        padding: 21px 16px;
      }
      &:hover {
        span {
          color: $color-pink;
        }
      }
    }
    span {
      color: $color-neutral-black;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      @include respond-to("<=xs") {
        width: min-content;
      }
    }    
  }
}




