.page {
  &__phasesBox {
    > div > div {
      padding: 2px 0 0px !important;
    }
  }
  &__phases{
    > div {
      @include respond-to("xxxl") {
        display: grid;
        justify-content: center;
        > div {
          width: 1200px !important;
        }
      }
    }
    display: grid;
    grid-template-columns: repeat(5, min-content);
    justify-content: center;
    @include respond-to("<=s") {
      grid-template-columns: none;
      grid-template-rows: repeat(5, min-content);
      justify-items: center;
      grid-row-gap: 0;
    }
    &__discovery {
      position: relative;
      width: 118px;
      aspect-ratio: 1;
      z-index: 1;
      cursor: pointer;
      @include respond-to(">=m") {
        transform: translate(87px, 89px);
      }
    }
    &__agileDev {
      position: relative;
      width: 300px;
      aspect-ratio: 1;
      z-index: 1;
      cursor: pointer;
      @include respond-to(">=m") {
        transform: translateX(87px);
      }
    }
    &__agileMain {
      position: relative;
      width: 136px;
      aspect-ratio: 1;
      z-index: 1;
      cursor: pointer;
      @include respond-to(">=m") {
        transform: translate(87px, 79px);
      }
    }
    &__scopeDev {
      position: relative;
      width: 64px;
      aspect-ratio: 1;
      z-index: 1;
      cursor: pointer;
      transform: translate(47px, 35px);
      @include respond-to("<=s") {
        transform: translate(75px, -34px);
      }
    }
    &__contSup {
      position: relative;
      width: 73px;
      aspect-ratio: 1;
      z-index: 1;
      cursor: pointer;
      transform: translate(23px, 111px);
      @include respond-to("<=s") {
        transform: translateY(-64px);
      }
    }
  }
  &__phases2 {
    @include respond-to("<=s") {
      padding-top: 72px;
    }
  }
  &__services {
    &__block {
      > div {
				@include respond-to("xxxl") {
					display: grid;
					justify-content: center;
          position: relative;
					> div {
						position: absolute;
            right: 16px;
					}
				}
			}
    }
    > :first-child { background-color: $color-neutral-black }
    > :last-child { background-color: $color-cyan }
    &__content {
      padding: rem(216px) 0 rem(45px) 0;
      p {
        margin: 0;
        font-size: rem(20px);
        line-height: rem(30px);
        strong { line-height: rem(32px) }
      }
      h1 {        
        font-family: var(--lk-font-inter);
        font-weight: 800;
      }
      h1, p {
        color: white;
        strong {
          font-size: rem(24px);
          &:first-child { color: $color-pink }
          &:last-child { color: $color-cyan }
        }
      }
    }
    &__dragon {
      position: relative;
      overflow: hidden;
      --f-gutter: 0;
      > div, > div > div {
        width: 100% !important;
        p {
          font-size: rem(16px);
        }
      }
      &__content {
        display: grid;
        align-items: start;
        justify-items: end;
        position: relative;
        height: rem(591px);
        @include respond-to("<=s") {
          justify-items: center;
        }
        p {
          font-size: rem(16px);
        }
        &__elipseContainer {
          position: relative;
          width: 100%;
          height: 488px;
          @include respond-to("<=s") {
            height: 261px;
            aspect-ratio: 2/1;
            width: unset;
          }
          @include respond-to("<=xs") {
            transform: translateX(-15px);
            width: 107%;
            height: 261px;
            aspect-ratio: unset;
          }
          &__elipse {
            object-fit: cover;          
            @include respond-to(">=xxl") {
              object-fit: unset;
            }  
            @include respond-to("<=s") {
              object-fit: unset;  
            }
            @include respond-to("<=xs") {
              object-fit: cover;  
            }
          }
        }
      }
    }
  }
  &__about {
    max-width: rem(603px);
    margin: auto;
    display: grid;
    grid-row-gap: .5rem;
    > div {
      display: grid;
      grid-row-gap: 4px;
    }
    p {
      line-height: rem(28px);
      font-size: rem(16px);
    }
    h3 {
      font-size: 1.5rem;
      line-height: 2rem;
    }
    h3, p {
      margin: 0;
    }
  }
  &__phases-links {
    display: grid;
    justify-items: center;    
    &__arrow {
      position: absolute;
      z-index: 0;
      top: 46%;
      div {
        width: 100%;
        position: absolute;
        height: .5px;
        background-color: $color-neutral-black;
        left: 0px;
        transform: translateY(50%);
        &::after, &::before {
          content: '';
          position: absolute;
          width: 12.72px;
          height: 1px;
          background-color: $color-neutral-black;
        }
      }
    }
    p {
      font-size: rem(16px);
    }
    svg {
      position: absolute;
      z-index: 2
    }
  }
  &__phases {
    padding: 0 0 73px 0;
    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 3rem;
      grid-row-gap: 148px;
      > div {
        display: grid;
        grid-template-rows: minmax(64px, auto) 2fr 1.2fr;        
        h3 {
          height: 62px;
          @include respond-to("<=m") {
            height: unset;
          }
        }
        h4 {
          line-height: 32px;
          margin: 0;
        }
        p {
          line-height: rem(28px);
          width: 357.33px;
        }
        img {
          cursor: pointer;
        }
      }
    }
  }
  &__iconContainer {
    position: relative;
    width: 33px;
    aspect-ratio: 1;
  }
  @include respond-to(">=xl") {
    &__services {
      &__content {
        p {
          max-width: rem(363px);
        }
      }
    }
    &__phases-links {
      &__arrow {
        top: 40%;
      }
    }
  }
  @include respond-to("<=l") {
    &__services {
      --f-gutter: 32px;
      &__content {
        padding: rem(187px) 0 rem(32px) 0;
        h2 { margin: 0  }
        p { max-width: none }
      }
      &__dragon {
        &__content {
          &__elipse {
            top: 0;
            left: 1rem;
            transform: translate(0, calc(-50% + 47px));
          }
          &__image {
            top: 0;
            left: 124px;
            transform: translate(0, calc(-54% - 6px));
          }
        }
      }
    }
    &__about {
      > div > p { 
        font-size: rem(16px);
        line-height: 1.5rem }
    }
    &__phases {
      --f-gutter: 76px;
      padding: 12px 0 40px 0;
      &__content {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 3rem;
        > div {
          width: 100%;
          p {
            width: 100%;
            font-size: rem(16px);
          }
          h4 {
            width: 100%;
          }
        }
      }
    }
  }

  @include respond-to(">s") {
    &__services {
      &__dragon {
        &__content {
          &__elipse {
            min-width: rem(680px) !important;
            height: 680px;
          }
        }
      }
    }
  }

  @include respond-to("<=s") {
    &__services {
      --f-gutter: 16px;
      &__content {
        padding: rem(27px) 0 rem(26px);
        display: grid;
        justify-content: center;
        h2 {
          font-size: rem(40px);
          line-height: rem(52px);
        }
        p {
          font-size: 1rem;
          line-height: rem(28px);
          max-width: 358px;
          strong {
            font-size: 1.5rem;
            line-height: 2rem;
          }
        }
      }
      &__dragon {
        &__content {
          width: 100%;
          max-height: rem(290px);
          &__elipse {
            top: 0;
            width: rem(341px);
            left: 50%;
            transform: translate(calc(-50% + .5px), calc(-50% + 11px));
          }
          &__image {
            top: -10px;
            left: 50%;
            width: rem(233px);
            transform: translate(-50%, calc(-54% - 6px));
          }
        }
      }
    }
    &__about {
      h3 {
        font-size: rem(20px);
        line-height: 2rem;
        margin-bottom: 4px;
      }
      p {
        font-size: rem(16px);
      }
    }
    &__phases {
      --f-gutter: 16px;
      padding: 2rem 0 0 0;   
      transform: translateY(13%);
      z-index: 2;
      position: relative;
      &__content {
        grid-template-columns: 1fr;
        > div {
          grid-template-rows: min-content;
          h4 { margin: 0 }
          h4 { line-height: rem(32px) }
        }
      }
    }
  }

  @include respond-to(">=l") {
    &__phases-links {
      p {
        font-size: rem(16px);
      }
      &__arrow { 
        width: calc(100% - 120px); 
      }
      svg { transform: translate(calc(50% + 60.5px),-50%) }
    }
  }
  @include respond-to("<=l") {
    &__phases-links {
      &__arrow { width: calc(100% - 42px) }
      p {
        font-size: rem(16px);
      }
      svg { transform: translate(calc(50% - 7.5px),-50%) }
    }
  }
  @include respond-to(">s") {
    &__phases-links {
      min-height: 300px;
      &__arrow {
        left: 0;
        div {
          right: 104px;
          &::after, &::before { right: -1px }
          &::after {
            top: -5px;
            transform: rotate(45deg);
          }
          &::before {
            top: 4.5px;
            transform: rotate(-45deg);
          }
        }
      }
      svg {
        position: absolute;
        top: 50%;
        right: 50%;
      }
      &__svg-mobile {
        display: none;
      }
    }
  }
  @include respond-to("<=s") {
    &__phases-links {
      min-height: 917px;
      &__svg-desktop {
        display: none;
      }
      &__arrow {
        height: 910px;
        width: 100%;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: 0;
        div {
          width: .5px;
          height: 100%;
          left: 50%;
          top: 0%;
          transform: translateX(-50%);
          opacity: .6;
          &::after, &::before { top: calc(100% - 6px) }
          &::after {
            right: -1px;
            transform: rotate(45deg);
          }
          &::before {
            left: -1px;
            transform: rotate(-45deg);
          }
        }
      }
      svg {
        top: calc(50% + 16px);
        left: 50%;
        transform: translate(calc(-50% - .5px), -50%);
      }
    }
  }
}