.scope {
    &__hero {
        padding: 56px 0;

        &__block {
            >div {
                @include respond-to("xxxl") {
                    display: grid;
                    justify-content: center;

                    >div {
                        width: 1200px !important;
                    }
                }
            }

            &__pink {
                color: $color-pink;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                font-family: var(--lk-font-roboto);
                text-transform: uppercase;
            }

            h1 {
                @include respond-to("<=s") {
                    font-size: 28px;
                    line-height: 36px;
                }
            }

            &__grey {
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                color: $color-lang-secondary;

                @include respond-to("<=s") {
                    font-size: 16px;
                    line-height: 28px;

                    br {
                        display: none;
                    }
                }
            }
        }
    }

    &__heroGrey {
        padding: 56px 0;
        background-color: $color-bright-gray-01;

    }

    &__kanban {
        padding: 56px 0;

        &__block {
            >div>div {
                @include respond-to("<=s") {
                    display: grid;
                }
            }

            &__img {
                position: relative;
                width: 100%;
                height: auto;
                img {
                    position: static !important;
                }
            }
        }
    }
}