@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400&family=Roboto+Condensed&display=swap');

body {
    * {
        color: $color-neutral-black;
        font-family: $font-primary;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: $font-secondary;
        letter-spacing: .04em;
        font-weight: bold;
    }
    strong {
        letter-spacing: .04em;
        font-family: $font-primary;
        text-transform: uppercase;
        font-weight: bold;
    }
}