@import "@/styles/_flare-variables.scss";

html {
    height: 100%;
}
body {
    height: 100%;
    * {
        color: $color-neutral-black;
        font-family: $font-primary;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: $font-secondary;
        font-weight: bold;
    }
    strong {
        font-family: $font-secondary;
        text-transform: uppercase;
        font-weight: bold;
    }
}

::selection {
    color: $color-neutral-black;
    background-color: $color-cyan;
}

h1 {
	font-size:40px;
	font-family:var(--lk-font-roboto);
	font-weight:700;
	font-style:normal;
	line-height:52px;
	text-decoration:none;
	text-transform:uppercase;
}

h2 {
	font-size:28px;
	font-family:var(--lk-font-roboto);
	font-weight:700;
	font-style:normal;
	line-height:36px;
	text-decoration:none;
	text-transform:uppercase;
}

h3 {
	font-size:24px;
	font-family:var(--lk-font-roboto);
	font-weight:700;
	font-style:normal;
	line-height:32px;
	text-decoration:none;
	text-transform:uppercase;
}

h4 {
	font-size:20px;
	font-family:var(--lk-font-roboto);
	font-weight:700;
	font-style:normal;
	line-height:28px;
	text-decoration:none;
	text-transform:uppercase;
}

h5 {
	font-size: var(--f-gutter);
	font-family:var(--lk-font-roboto);
	font-weight:700;
	font-style:normal;
	line-height:24px;
	text-decoration:none;
	text-transform:uppercase;
}
p, span {
	font-size: var(--f-gutter);
	font-family:var(--lk-font-ibm);
	font-weight:400;
	font-style:normal;
	line-height:28px;
	text-decoration:none;
	text-transform:none;
}

strong {
	font-size: var(--f-gutter);
	font-family:var(--lk-font-ibm);
	font-weight:700;
	font-style:normal;
	line-height:24px;
	text-decoration:none;
	text-transform:none;
}
