@import "@/styles/_flare-variables.scss";

html {
    height: 100%;
}
body {
    height: 100%;
    * {
        color: $color-neutral-black;
        font-family: $font-primary;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: $font-secondary;
        font-weight: bold;
    }
    strong {
        font-family: $font-secondary;
        text-transform: uppercase;
        font-weight: bold;
    }
}