$base-size: 16px;
// fonts
$font-primary: var(--lk-font-ibm);
$font-secondary: var(--lk-font-roboto);
$font-tertiary: var(--lk-font-inter);
// $font-tertiary: var(--lk-font-roboto);

// colors
$color-neutral-black: #0B0E29;
$color-pink: #FF0049;
$color-pink-dark: #BF0A3D;
$color-cyan: #00D0F6;
$color-blue: #1324A0;
$color-bright-gray: #EBEAE8;
$color-bright-gray-01: #F6F5F4;
$color-neutral-gray: #73909E;
$color-lang-secondary: #93949E;
// hero
$h-height-large: rem(591px);