$base-size: 16px;
// fonts
$font-primary: 'IBM Plex Sans', sans-serif;
$font-secondary: 'Roboto Condensed', sans-serif;

// colors
$color-neutral-black: #182030;
$color-pink: #FF0049;
$color-cyan: #00D0F6;
$color-blue: #1324A0;
$color-bright-gray: #EBEAE8