.contact {
  $triangule-width: rem(139px);
  $hero-height: rem(591px);
  &__hero, &__about-us {
    > :first-child { background-color: $color-neutral-black }
    > :last-child { background-color: $color-blue }
    * { color: white }
  }
  &__hero {
    height: $hero-height;
    > :first-child {
      > div > div {
        height: 100%;
        display: grid;
      }
    }
    > :last-child {
      --f-gutter: 0;
    }
    &__left {
      align-self: end;
      padding: rem(53px) 0;
      h2 { font-family: $font-tertiary }
      p {
        font-size: 1.5rem;
        line-height: rem(34px);
        strong {
          font-size: rem(28px);
          &:first-child { color: $color-cyan }
          &:last-child { color: $color-pink }
        }
      }
    }
    &__right {
      height: $hero-height;
      > div:first-child {
        position: relative;
        bottom: 0;
        right: 0;
        width: $triangule-width;
        height: $hero-height;
        background-color: $color-blue;
        div {
          position: absolute;
          width: $triangule-width;
          height: $hero-height;
          background-image: linear-gradient(to bottom right, $color-neutral-black 0%, $color-neutral-black 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
        }
      }
      display: grid;
      &__triangle {
        width: $triangule-width;
        position: absolute;
        top: 0;
        right: 120px;
        height: 100%;
      }
      &__clouds {
        position: absolute;
        right: 0;
        top: 0;
      }
      &__koi {
        position: relative;
        height: 100%;
        display: grid;
        width: calc(100% - 120px);
        &__img {
          position: absolute;
          width: 392px;
          align-self: end;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      &__koi-mobile, &__triangle-mobile, &__clouds-mobile {
        display: none;
      }
      &__content {
        position: relative;
        width: max-content;
      }
    }
  }
  &__banner {
    &__content {
      display: grid;
      max-width: rem(634px);
      margin: auto;
      padding: rem(86px) 0;
      h3 {
        color: $color-blue;
        line-height: rem(36px);
        margin: 0;
        strong { color: $color-pink }
      }
      p {
        line-height: rem(28px);
        margin: 0;
      }
    }
  }
  &__team {
    --f-gutter: 0;
    padding-bottom: rem(81px);
    &__content {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      background-color: $color-bright-gray;
      &__card {
        display: grid;
        align-items: center;
        justify-items: center;
        div {
          width: rem(346px);
          height: min-content;
          padding: 1rem;
          display: grid;
          grid-row-gap: .5rem;
          h3 {
            color: $color-blue;
            line-height: rem(36px);
          }
          p { line-height: rem(28px) }
          h3, p { margin: 0 }
        }
        &:nth-child(1) {
          grid-row: 2/4;
          grid-column: 1/4;
        }
        &:nth-child(2) {
          grid-row: 4/6;
          grid-column: 5/8;
        }
        &:nth-child(3) {
          grid-row: 7/9;
          grid-column: 1/4;
        }
        &:nth-child(4) {
          grid-row: 9/11;
          grid-column: 5/8;
        }
      }
    }
  }
  &__about-us {
    min-height: 456.45px;
    --f-golden-ratio: 2;
    &__block {
      position: relative;
      > div > div {
        height: 100%;
        display: grid;
        align-items: center;
      }
      &:first-child { --f-gutter: 0 }
      &:last-child {
        --f-gutter: 32px;
        > div > div {
          padding-right: 1rem;
        } 
      }
      &__left {
        h2 {
          margin: 0;
          &:first-child { color: $color-cyan }
          &:nth-child(2) { color: $color-pink }
        }
      }
      &__triangule {
        z-index: 2;
        background-color: $color-blue;
        height: 100%;
        width: 100px;
        top: 0;
        right: -20px;
        right: 0;
        position: absolute;
        width: 120px;
        height: 458.45px;
        background-image: linear-gradient(to bottom right, $color-neutral-black 0%, $color-neutral-black 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
      }
      &__right {
        display: grid;
        align-items: center;
        justify-items: center;
        &__card {
          div {
            &:first-child {
              height: 44px;
              span {
                color: $color-pink;
                margin: 0;
                font-family: $font-primary;
                font-size: 64px;
                font-weight: normal;
              }    
            }
            &:last-child {
              display: grid;
              width: max-content;
              grid-template-columns: 1fr auto 1fr;
              grid-column-gap: 1rem;
              strong {
                &:first-child { color: $color-cyan }
                &:last-child { color: $color-pink }
              }
            }
          }
          p {
            line-height: rem(30px);
            margin: 10px 0 24px 0;
          }
        }
      }
    }
  }
  &__mobile-bottom {
    display: none;
    background-color: $color-neutral-black;
  }
  @include respond-to(">l") {
    &__hero {
      &__block-right {
        > div {
          width: 100% !important;
        }
      }
      &__right {
        position: relative;
      }
    }
  }
  @include respond-to("xl") {
    --f-golden-ratio: 2;
    &__about-us__block__triangule {
      transform: translateX(15%);
    }
  }
  @include respond-to("<=l") {
    &__hero {
      $triangule-width: rem(155px);
      --f-gutter: 32px;
      min-height: $hero-height;
      > :first-child {
        background-color: $color-neutral-black;
        > div > div {
          padding-right: 0;
        }
      }
      &__left {
        padding: 0;
        h2 { width: min-content }
        p {
          font-size: rem(20px);
          line-height: rem(30px);
          width: rem(315px);
          margin-bottom: rem(10px);
          strong {
            font-size: rem(28px);
            line-height: rem(36px);
            &:first-child { color: $color-cyan }
            &:last-child { color: $color-pink }
          }
        }
      }
      &__right {
        min-height: $hero-height;
        grid-template-columns: 1fr;
        position: relative;
        > div:first-child {
          position: absolute;
          left: 0;
          top: 0;
          width: $triangule-width;
          div {
            width: $triangule-width;
          }
        }
        &__koi {
          justify-self: center;
          position: relative;
          width: calc(100% - 200px);
          &__img {
            position: absolute;
            width: 350px;
            align-self: end;
          }
        }
        &__triangle {
          position: absolute;
          min-width: $triangule-width;
          bottom: 0;
          right: 0
        }
        &__clouds { display: none }
      }
    }
    &__team {
      --f-gutter: 32px;
      padding-bottom: 0;
      &__content {
        &__card {
          padding: 0 1rem;
          div {
            padding: 1rem;
            width: 100%;
          }
        }
      }
    }
    &__about-us {
      --f-golden-ratio: 1.61;
      &__block {
        &:first-child { --f-gutter: 32px }
        &:last-child { --f-gutter: 0 }
        &__left {
          h2 {
            font-size: rem(28px);
            line-height: rem(36px);
          }
        }
        &__right {
          padding-right: 1rem;
          &__card > p {
            margin-top: 4px;
            line-height: rem(28px);
          }
        }
      }
    }
  }
  @include respond-to("<=s") {
    &__hero {
      height: 100%;
      > :first-child {
        --f-gutter: 16px;
        > div > div {
          padding-right: 16px;
        }
      }
      &__left {
        padding: rem(40px) 0;
        p {
          width: 100%;
          margin: 0;
          font-size: 1rem;
          line-height: 28px;
          strong {
            font-size: 1.5rem;
            line-height: 2rem;
          }
        }
      }
      &__right {
        grid-template-columns: 1fr 92px 64px;
        overflow: hidden;
        position: relative;
        min-height: 350px;
        height: 350px;
        > div:first-child { display: none }
        &__koi-mobile {
          align-self: end;
          margin-left: 1.5rem;
          justify-self: center;
        }
        &__koi, &__clouds, &__triangle {
          display: none;
        }
        &__koi-mobile, &__triangle-mobile, &__clouds-mobile {
          display: grid;
        }
      }
    }
    &__banner {
      &__content {
        padding: rem(56px) 0;
        h3 {
          font-size: rem(20px);
          line-height: rem(28px);
        }
      }
    }
    &__team {
      --f-gutter: 16px;
      padding-bottom: 40px;
      > div > div {
        padding-top: 0px !important;
      }
      &__content {
        padding-top: 0px;
        &__card-empty {
          display: none;
        }
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: min-content;
        img {
          min-height: 75px;
        }
        &__card {
          height: auto;
          padding: 1rem;
          div {
            padding: 1rem;
            grid-row-gap: rem(6px);
            h3 {
              font-size: rem(20px);
              line-height: rem(28px);
            }
          }
          &:nth-child(1),  &:nth-child(2),  &:nth-child(3),  &:nth-child(4) {
            grid-column: 1/6;
          }
          &:nth-child(1) {
            grid-row: 3/6;
          }
          &:nth-child(2) {
            grid-row: 8/10;
          }
          &:nth-child(3) {
            grid-row: 12/14;
          }
          &:nth-child(4) {
            grid-row: 16/18;
          }
        }
      }
    }
    &__about-us {
      --f-golden-ratio: 1.61;
      &__block {
        &:first-child { --f-gutter: 56px }
        &:last-child { --f-gutter: 16px }
        &__left {
          h2 {
            margin-left: rem(10px);
            font-size: rem(28px);
            line-height: rem(36px);
          }
        }
        &__right {
          padding: 0;
          padding-top: rem(5px);
          &__card {
            padding-bottom: rem(34px);
            div {
              &:first-child {
                height: rem(44px);
              }
              &:last-child {
                grid-column-gap: rem(10px);
                position: absolute;
              }
            }
          }
        }
        &__triangule { display: none }
      }
    }
    &__mobile-bottom { display: grid }
  }
}