.page {
    background-color: $color-neutral-black;
    height: 810px;
    &__column {
        &__block {
            padding-top: 178px;
            > div > div {
                display: grid;
                gap: 26px;
            }
            &__hexagon {
                position: relative;
                width: rem(150px);
                height: rem(150px);
                transform: translate(-19px, 12px);
            }
            h2 {
                color: white;
                text-transform: uppercase;  
            }
            p {
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                color: white;
                @include respond-to("<=xs") {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                }
                @include respond-to("xxs") {
                    br{
                        display: none;
                    }
                }
            }
            &__btn {
                gap: 4px;
                width: 175px;
                height: 40px;
                background: $color-pink;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: white;
                padding: 8px 15px;
                cursor: pointer;
                text-align: center;
            }
        }
    }
}