.privacy {
    &__column {
        padding-bottom: 56px;
        &__block {
            padding: 56px 0 0;
            > div > div {
                display: grid;
                gap: 56px;
                padding: 0 !important;
            }
            &__content {
                p {
                    margin: 0;
                }
            }
            @include respond-to("<=s") {
                padding: 0;
            } 
            h1 {
                @include respond-to("<=s") {
                    font-size: 28px;
                    line-height: 36px;
                }
            }
            h2 {
                @include respond-to("<=s") {
                    font-size: 24px;
                    line-height: 32px;
                }
            }            
            ul {
                padding-left: 21px;
                display: grid;
                gap: 16px;
                align-items: center;
                li {
                    list-style-type: none;
                    text-indent: -20px;
                    line-height: 28px;
                    &::before {
                        content: "\2014";   
                        margin-right: 7px;                     
                    }
                }
            }
            strong {
                text-transform: lowercase;
                font-family: var(--lk-font-ibm);
            }  
        }
    }
}