.page {
  p { line-height: 30px }
  &__services {
    > :first-child {
      background-color: $color-neutral-black;
      p { font-size: 20px }
      h2 { line-height: 52px; }
      h2, p {
        color: white;
        strong {
          font-weight: bold;
          &:first-child { color: $color-pink }
          &:last-child { color: $color-cyan }
        }
      }
    }
    > :last-child {
      background-color: $color-cyan;
      padding-bottom: 67px;
      align-items: end;
    }
    &__dragon {
      display: grid;
      justify-items: center;
      position: relative;
      overflow: hidden;
      &__elipse, &__elipse--mobile {
        position: absolute;
      }
      &__image, &__image--mobile {
        z-index: 2;
      }
    }
  }
  &__content {
    display: grid;
    grid-template-columns: auto 1fr auto;
    &__info {
      display: grid;
      justify-items: center;
      align-items: center;
      p {
        text-align: center;
        max-width: 603px;
      }
      strong {
        font-size: 22px;
        line-height: 2rem;
      }
    }
    &__bleed-right { justify-self: end }
  }
  &__phases-links {
    display: grid;
    justify-items: center;
    &__arrow {
      position: absolute;
      div {
        width: 100%;
        position: absolute;
        height: .5px;
        background-color: $color-neutral-black;
        left: 0px;
        &::after, &::before {
          content: '';
          position: absolute;
          width: 12.72px;
          height: 1px;
          background-color: $color-neutral-black;
        }
      }
    }
    svg {
      position: absolute;
      z-index: 2
    }
  }
  &__phases {
    padding: 72px 0 100px 0;
    div { height: 100% !important  }
    &__content {
      display: grid;
      grid-template-rows: 64px 1fr auto;
      grid-row-gap: 1rem;
      p { margin: 0 }
    }
  }
  @include respond-to(">l") {
    &__services {
      > :first-child {
        padding: 219px 0 61px 0;
        p {
          line-height: 30px;
          max-width: 336px;
        }
      }
    }
    &__phases-links {
      &__arrow {
        width: calc(100% - 120px);
      }
      svg {
        transform: translate(60%,-50%);
      }
    }
  }
  @include respond-to("<=l") {
    &__content {
      &__bleed-left, &__bleed-right { width: 60px }
    }
    &__phases-links {
      &__arrow {
        width: calc(100% - 42px);
      }
      svg {
        transform: translate(50%,-50%);
      }
    }
  }
  @include respond-to(">s") {
    &__services {
      &__dragon {
        &__elipse--mobile, &__image--mobile {
          display: none;
        }
      }
    }
    &__phases-links {
      min-height: 300px;
      &__arrow {
        top: 50%;
        transform: translateY(50%);
        left: 0;
        div {
          right: 104px;
          &::after, &::before {
            right: -1px;
          }
          &::after {
            top: -5px;
            transform: rotate(45deg);
          }
          &::before {
            top: 4.5px;
            transform: rotate(-45deg);
          }
        }
      }
      svg {
        position: absolute;
        top: 50%;
        right: 50%;
      }
      &__svg-mobile {
        display: none;
      }
    }
  }
  @include respond-to("<=s") {
    &__services {
      > :first-child {
        p { max-width: 300px }
      }
      &__dragon {
        &__elipse, &__image {
          display: none;
        }
      }
    }
    &__content {
      grid-template-columns: 1fr auto;
      &__info {
        padding: 42px 1rem;
        p { text-align: start }
      }
      &__bleed-left { display: none }
      &__bleed-right { width: 92px }
    }
    &__phases-links {
      min-height: 917px;
      &__svg-desktop {
        display: none;
      }
      &__arrow {
        height: 917px;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        div {
          width: .5px;
          height: 100%;
          left: 50%;
          top: 0%;
          transform: translateX(-50%);
          opacity: .6;
          &::after, &::before {
            top: calc(100% - 6px);
          }
          &::after {
            right: -1px;
            transform: rotate(45deg);
          }
          &::before {
            left: -1px;
            transform: rotate(-45deg);
          }
        }
      }
      svg {
        transform: none;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &__phases {
      &__content {
        grid-template-rows: 1fr;
        h3 { margin: 0 }
      }
    }
  }
}