.page {
  &__services {
    > :first-child { background-color: $color-neutral-black }
    > :last-child { background-color: $color-cyan }
    &__content {
      padding: rem(216px) 0 rem(45px) 0;
      p {
        margin: 0;
        font-size: rem(20px);
        line-height: rem(30px);
        strong { line-height: rem(32px) }
      }
      h2 {
        line-height: 52px;
        font-family: $font-tertiary;
      }
      h2, p {
        color: white;
        strong {
          font-size: rem(24px);
          &:first-child { color: $color-pink }
          &:last-child { color: $color-cyan }
        }
      }
    }
    &__dragon {
      position: relative;
      overflow: hidden;
      --f-gutter: 0;
      &__content {
        display: grid;
        align-items: start;
        justify-items: end;
        position: relative;
        > div {
          display: grid;
          justify-self: start;
          max-height: rem(591px);
        }
        &__elipse {
          background-color: $color-pink;
          height: rem(680px);
          width: rem(680px);
          margin-left: 120px;
          border-radius: 50%;
          top: 50%;
          transform: translateY(-46%);
        }
        &__image {
          position: absolute;
          top: -1rem;
          z-index: 2;
          transform: translateX(49%);
        }
      }
    }
  }
  &__phases-links {
    display: grid;
    justify-items: center;
    &__arrow {
      position: absolute;
      div {
        width: 100%;
        position: absolute;
        height: .5px;
        background-color: $color-neutral-black;
        left: 0px;
        &::after, &::before {
          content: '';
          position: absolute;
          width: 12.72px;
          height: 1px;
          background-color: $color-neutral-black;
        }
      }
    }
    svg {
      position: absolute;
      z-index: 2
    }
  }
  &__phases {
    padding: 72px 0 100px 0;
    div {
      height: 100%;
    }
    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 3rem;
      > div {
        display: grid;
        height: stretch;
        grid-template-rows: 64px 1fr auto;
        grid-row-gap: 1rem;
        width: 389.33px;
        h4 {
          line-height: 32px;
          width: 357.33px;
        }
        p {
          line-height: rem(28px);
          margin: 0;
          width: 357.33px;
        }
      }
    }
    grid-row-gap: 1.5rem;
  }


  @include respond-to(">=xl") {
    &__services {
      &__content {
        p {
          max-width: rem(363px);
        }
      }
    }
  }
  @include respond-to("<=l") {
    &__services {
      --f-gutter: 32px;
      &__content {
        padding: rem(185px) 0 rem(32px) 0;
        h2 { margin: 0  }
        p { max-width: none }
      }
      &__dragon {
        &__content {
          &__elipse {
            margin-left: 1rem;
            top: 50%;
            transform: translateY(-43%);
          }
          &__image {
            top: 0;
            transform: translateX(calc(50% - 7rem));
          }
        }
      }
    }
    &__phases {
      --f-gutter: 76px;
      padding: 10px 0 124px 0;

      &__content {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 3rem;
        > div {
          width: 100%;
          p {
            width: 100%;
          }
          h4 {
            width: 100%;
          }
        }
      }
    }
  }

  @include respond-to("<=s") {
    &__services {
      --f-gutter: 16px;
      &__content {
        padding: rem(26px) 0;
        h2 {
          font-size: rem(40px);
          line-height: rem(52px);
        }
        p {
          font-size: 1rem;
          line-height: rem(28px);
          strong {
            font-size: 1.5rem;
            line-height: 2rem;
          }
        }
      }
      &__dragon {
        &__content {
          width: 100%;
          max-height: rem(290px);
          > div {
            position: relative;
            justify-items: center;
            width: 100%;
          }
          &__elipse {
            width: rem(341px);
            height: rem(341px);
            margin-left: 0;
            margin-top: -1rem;
          }
          &__image {
            top: 0;
            left: 50%;
            width: rem(233px);
            transform: translateX(-50%);
          }
        }
      }
    }
    &__phases {
      --f-gutter: 16px;
      padding: 2rem 0 0 0;
      grid-row-gap: 1rem;
      &__content {
        grid-template-columns: 1fr;
        > div {
          grid-template-rows: min-content;
          h4, p { margin: 0 }
          h4 { line-height: rem(32px) }
        }
      }
    }
  }

  @include respond-to(">=l") {
    &__phases-links {
      &__arrow { width: calc(100% - 120px) }
      svg { transform: translate(60%,-50%) }
    }
  }
  @include respond-to("<=l") {
    &__phases-links {
      &__arrow { width: calc(100% - 42px) }
      svg { transform: translate(50%,-50%) }
    }
  }
  @include respond-to(">s") {
    &__phases-links {
      min-height: 300px;
      &__arrow {
        top: 50%;
        transform: translateY(50%);
        left: 0;
        div {
          right: 104px;
          &::after, &::before { right: -1px }
          &::after {
            top: -5px;
            transform: rotate(45deg);
          }
          &::before {
            top: 4.5px;
            transform: rotate(-45deg);
          }
        }
      }
      svg {
        position: absolute;
        top: 50%;
        right: 50%;
      }
      &__svg-mobile {
        display: none;
      }
    }
  }
  @include respond-to("<=s") {
    &__phases-links {
      min-height: 917px;
      &__svg-desktop {
        display: none;
      }
      &__arrow {
        height: 917px;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        div {
          width: .5px;
          height: 100%;
          left: 50%;
          top: 0%;
          transform: translateX(-50%);
          opacity: .6;
          &::after, &::before { top: calc(100% - 6px) }
          &::after {
            right: -1px;
            transform: rotate(45deg);
          }
          &::before {
            left: -1px;
            transform: rotate(-45deg);
          }
        }
      }
      svg {
        top: calc(50% + 16px);
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}