.page {
  p { line-height: 30px }
  &__services {
    > :first-child {
      background-color: $color-neutral-black;
      p { font-size: 20px }
      h2 {
        line-height: 52px;
        font-family: $font-primary;
      }
      h2, p {
        color: white;
        strong {
          &:first-child { color: $color-pink }
          &:last-child { color: $color-cyan }
        }
      }
    }
    > :last-child {
      background-color: $color-cyan;
      padding-bottom: 41px;
      align-items: end;
    }
    &__dragon {
      display: grid;
      justify-items: center;
      position: relative;
      overflow: hidden;
      &__elipse, &__elipse--mobile {
        position: absolute;
      }
      &__image, &__image--mobile {
        z-index: 2;
      }
    }
  }
  &__phases-links {
    display: grid;
    justify-items: center;
    &__arrow {
      position: absolute;
      div {
        width: 100%;
        position: absolute;
        height: .5px;
        background-color: $color-neutral-black;
        left: 0px;
        &::after, &::before {
          content: '';
          position: absolute;
          width: 12.72px;
          height: 1px;
          background-color: $color-neutral-black;
        }
      }
    }
    svg {
      position: absolute;
      z-index: 2
    }
  }
  &__phases {
    padding: 72px 0 100px 0;
    div { height: 100% !important  }
    grid-row-gap: 1.5rem;
  }
  @include respond-to(">=l") {
    &__services {
      > :first-child {
        padding: 219px 0 61px 0;
        p {
          line-height: 30px;
          max-width: 363px;
        }
      }
    }
    &__phases-links {
      &__arrow {
        width: calc(100% - 120px);
      }
      svg {
        transform: translate(60%,-50%);
      }
    }
  }
  @include respond-to("<=l") {
    &__phases-links {
      &__arrow {
        width: calc(100% - 42px);
      }
      svg {
        transform: translate(50%,-50%);
      }
    }
  }
  @include respond-to(">s") {
    &__services {
      &__dragon {
        &__elipse--mobile, &__image--mobile {
          display: none;
        }
      }
    }
    &__phases-links {
      min-height: 300px;
      &__arrow {
        top: 50%;
        transform: translateY(50%);
        left: 0;
        div {
          right: 104px;
          &::after, &::before {
            right: -1px;
          }
          &::after {
            top: -5px;
            transform: rotate(45deg);
          }
          &::before {
            top: 4.5px;
            transform: rotate(-45deg);
          }
        }
      }
      svg {
        position: absolute;
        top: 50%;
        right: 50%;
      }
      &__svg-mobile {
        display: none;
      }
    }
  }
  @include respond-to("<=s") {
    &__services {
      > :first-child {
        padding: 1.5rem 0;
        p {
          max-width: 310px;
          font-size: 1rem;
          line-height: 30px;
          strong {
            font-size: 1.5rem;
            line-height: 2rem;
          }
        }
      }
      &__dragon {
        &__elipse, &__image {
          display: none;
        }
      }
    }
    &__phases-links {
      min-height: 917px;
      &__svg-desktop {
        display: none;
      }
      &__arrow {
        height: 917px;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        div {
          width: .5px;
          height: 100%;
          left: 50%;
          top: 0%;
          transform: translateX(-50%);
          opacity: .6;
          &::after, &::before {
            top: calc(100% - 6px);
          }
          &::after {
            right: -1px;
            transform: rotate(45deg);
          }
          &::before {
            left: -1px;
            transform: rotate(-45deg);
          }
        }
      }
      svg {
        top: calc(50% + 16px);
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &__phases {
      padding-top: 2.5rem;
    }
  }
}