.contact {
  $triangule-width: rem(155.23px);
  $hero-height: rem(591px);
  &__hero,
  &__about-us {
    > :first-child {
      background-color: $color-neutral-black;
    }
    > :last-child {
      background-color: $color-blue;
    }
    * {
      color: white;
    }
  }
  &__hero {
    &__block {
      > div {
        @include respond-to("xxxl") {
          display: grid;
          justify-content: center;
           position: relative;
          > div {
            position: absolute;
            right: 19px;
            bottom: 35px;
          }
        }
      }
    }
    height: $hero-height;
    > :first-child {
      > div > div {
        height: 100%;
        display: grid;
        @include respond-to("<=s") {
          justify-content: center;
        }
      }
    }
    > :last-child {
      --f-gutter: 0;
    }
    &__left {
      @include respond-to("xxxl") {
        padding-bottom: 0 !important;
      }
      align-self: end;
      h1 {
        font-family: var(--lk-font-inter);
        font-weight: 800;
        br {
          display: none;
          @include respond-to("<=m") {
            display: block;
          }
        }
      }
      p {
        font-size: 1.5rem;
        line-height: rem(34px);
        strong {
          font-family: $font-secondary;
          font-size: rem(28px);
          line-height: rem(36px);
          color: $color-cyan;
        }     
        @include respond-to("<=s") {
          max-width: 358px;
          br {
            display: none;
          }
        }  
      }
      &__pink {
          color: $color-pink !important;
        }
    }
    &__right {
      height: $hero-height;
      > div:first-child {
        position: relative;
        bottom: 0;
        right: 0;
        width: $triangule-width;
        height: $hero-height;
        background-color: $color-blue;
        div {
          position: absolute;
          width: $triangule-width;
          height: $hero-height;
          background-image: linear-gradient(
            to bottom right,
            $color-neutral-black 0%,
            $color-neutral-black 50%,
            rgba(255, 255, 255, 0) 50%,
            rgba(255, 255, 255, 0) 100%
          );
        }
      }
      display: grid;
      &__container {
        position: absolute;
        height: 101%;
        width: 156px;
        right: 120px;
        top: -5px;
        @include respond-to("<=l") {
          right: 0;
        }
        @include respond-to("<=s") {
          top: -2px;
          right: 32px;
        }
      }
      &__triangle {
        width: $triangule-width;
        right: 120px;
        object-fit: cover;

      }
      &__clouds {
        position: absolute;
        right: 0;
        top: 0;
        background-color: white;
        width: rem(120px);
        height: inherit;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
      &__koi {
        top: 0;
        left: $triangule-width;
        position: absolute;
        overflow: hidden;
        height: 100%;
        display: grid;
        width: calc(100% - ($triangule-width * 2) - 120px);
        justify-items: center;
        &__img {
          margin-top: rem(84px);
          width: rem(392px);
          @include respond-to("<=s") {
            margin-top: 0;
            height: inherit;
          }
        }
        @include respond-to(">=l") {
          left: 12.8rem;
          width: 392px;
          height: 669.38px;
        }
      }
      &__triangle-mobile,
      &__clouds-mobile {
        display: none;
      }
      &__content {
        position: relative;
        width: max-content;
      }
    }
  }
  &__banner {
    &__content {
      display: grid;
      max-width: rem(634px);
      margin: auto;
      padding: rem(87px) 0 rem(85px) 0;
      h3 {
        color: $color-blue;
        line-height: rem(36px);
        margin: 0;
        * {
          font-size: rem(24px);
        }
        strong {
          color: $color-pink;
        }
      }
      p {
        line-height: rem(28px);
        margin: 0;
      }
    }
  }
  &__team {
    --f-gutter: 0;
    padding-bottom: rem(81px);
    > div {
      @include respond-to("xxxl") {
        display: grid;
        justify-content: center;
        > div {
         width: 1200px !important;
        }
      }
    }
    &__content {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      background-color: $color-bright-gray;
      &__image {
        position: relative;
        aspect-ratio: 1;
      }
      &__card {
        display: grid;
        align-items: center;
        justify-items: center;
        @include respond-to("m") {
          padding: 0 0 !important;
        }
        div {
          width: rem(346px);
          height: min-content;
          padding: 1rem;
          display: grid;
          grid-row-gap: 0.5rem;
          h2 {
            color: $color-blue;
            line-height: rem(36px);
          }
          p {
            font-size: rem(16px);
            line-height: rem(28px);
          }
          h2,
          p {
            margin: 0;
          }
        }
        &:nth-child(1) {
          grid-row: 2/4;
          grid-column: 1/4;
        }
        &:nth-child(2) {
          grid-row: 4/6;
          grid-column: 5/8;
        }
        &:nth-child(3) {
          grid-row: 7/9;
          grid-column: 1/4;
        }
        &:nth-child(4) {
          grid-row: 9/11;
          grid-column: 5/8;
        }
      }
    }
  }
  @include respond-to('>l') {
    &__hero {
      &__block-right {
        > div {
          width: 100% !important;
        }
      }
      &__right {
        position: relative;
      }
    }
  }
  @include respond-to('xl') {
    --f-golden-ratio: 2;
    &__about-us__block__triangule {
      transform: translateX(15%);
    }
  }

  @include respond-to('>=xl') {
    &__hero {
      > :first-child {
        > div > div {
          padding-right: 1rem !important;
        }
      }
      &__left {
        padding-bottom: rem(62px);
        p {
          font-size: 20px;
          line-height: 30px;
          max-width: none;
          strong {
            font-size: 28px;
            line-height: 36px;
          }
        }
      }
    }
  }
  @include respond-to('l') {
    &__about-us {
      &__block {
        &__left {
          width: 379px;
        }
      }
    }
  }

  @include respond-to('<=l') {
    &__hero {
      $triangule-width: rem(155px);
      --f-gutter: 32px;
      min-height: $hero-height;
      > :first-child {
        background-color: $color-neutral-black;
      }
      &__left {
        padding: 0;
        h2 {
          width: min-content;
        }
        p {
          font-size: rem(20px);
          line-height: rem(30px);
          margin: 0;
          margin-bottom: 0.5rem;
          strong {
            font-size: rem(28px);
            line-height: rem(36px);
            &:first-child {
              color: $color-cyan;
            }
            &:last-child {
              color: $color-pink;
            }
          }
        }
      }
      &__right {
        min-height: $hero-height;
        grid-template-columns: 1fr;
        position: relative;
        > div:first-child {
          position: absolute;
          left: 0;
          top: 0;
          width: $triangule-width;
          div {
            width: $triangule-width;
          }
        }
        &__koi {
          position: relative;
          margin: auto;
          justify-self: center;
          width: calc(100% - 264px);
          left: 0;
          // &__img {
          //   position: relative;
          //   width: 350px;
          //   margin-top: 153px;
          // }
        }
        &__triangle {
          position: absolute;
          min-width: $triangule-width;
          bottom: 0;
          right: 0;
        }
        &__clouds {
          display: none;
        }
      }
    }
    &__team {
      --f-gutter: 32px;
      padding-bottom: 0;
      &__content {
        &__card {
          padding: 0 1rem;
          div {
            padding: 1rem;
            width: 100%;
          }
        }
      }
    }
    &__about-us {
      --f-golden-ratio: 1.61;
      grid-template-columns: 1fr 2fr !important;
      &__block {
        &:first-child {
          --f-gutter: 32px;
        }
        &:last-child {
          --f-gutter: 0;
        }
        &__left {
          margin-top: rem(6.4px);
          h2 {
            font-size: rem(28px);
            line-height: rem(36px);
          }
        }
        &__right {
          padding-right: 1rem;
          > div {
            grid-column-gap: 0.59rem;
          }
          &__card {
            padding-top: 6px;
            > p {
              margin-top: 10px;
              line-height: rem(28px);
            }
            div {
              &:first-child {
                height: rem(40px);
              }
            }
          }
        }
      }
    }
  }
  @include respond-to('<=s') {
    &__hero {
      height: 100%;
      > :first-child {
        --f-gutter: 16px;
        > div > div {
          padding-right: 16px !important;
        }
      }
      &__left {
        padding: rem(41px) 0 rem(40px) 0;
        p {
          width: 100%;
          margin: 0;
          font-size: 1rem;
          line-height: 28px;
          strong {
            font-size: 1.5rem;
            line-height: 2rem;
          }
        }
      }
      &__right {
        overflow: hidden;
        position: relative;
        min-height: 350px;
        height: 350px;
        > div:first-child {
          display: none;
        }
        &__koi {
          margin: 0;
          justify-self: start;
          z-index: 2;
          position: relative;
          width: calc(100% - 92px - 64px);
          overflow: visible;
          margin-top: 60px;
        }
        &__clouds,
        &__triangle {
          display: none;
        }
        // &__triangle-mobile,
        &__clouds-mobile {
          display: block;
          position: absolute;
        }
        &__triangle-mobile {
          //right: rem(64px);
          display: block;
        }
        &__clouds-mobile {
          right: 0;
          background-color: white;
          width: rem(64px);
          height: inherit;
          background-image: url('/clouds.svg');
        }
      }
    }
    &__banner {
      &__content {
        padding: rem(56px) 0;
        h3 {
          font-size: rem(20px);
          line-height: rem(28px);
        }
      }
    }
    &__team {
      --f-gutter: 16px;
      padding-bottom: 40px;
      > div > div {
        padding-top: 0px !important;
      }
      &__content {
        padding-top: 0px;
        &__card-empty {
          display: none;
        }
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: min-content;
        &__card {
          height: auto;
          padding: 1rem;
          div {
            padding: 1rem;
            grid-row-gap: rem(6px);
            h2 {
              font-size: rem(20px);
              line-height: rem(28px);
            }
          }
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            grid-column: 1/6;
          }
          &:nth-child(1) {
            grid-row: 3/6;
          }
          &:nth-child(2) {
            grid-row: 8/10;
          }
          &:nth-child(3) {
            grid-row: 12/14;
          }
          &:nth-child(4) {
            grid-row: 16/18;
          }
        }
      }
    }
    &__about-us {
      background-color: $color-blue;
      padding-bottom: 4px;
      --f-golden-ratio: 1.61;
      grid-template-columns: 1fr !important;
      &__block {
        &:first-child {
          --f-gutter: 56px;
        }
        &:last-child {
          --f-gutter: 16px;
        }
        &__left {
          h2 {
            margin-left: rem(10px);
            font-size: rem(28px);
            line-height: rem(36px);
          }
        }
        &__right {
          padding: 0;
          padding-top: rem(5px);
          &__card {
            padding-top: rem(6px);
            padding-bottom: rem(36px);
            div {
              &:first-child {
                height: rem(38px);
              }
              &:last-child {
                line-height: 1.5rem;
                grid-column-gap: rem(10px);
                position: absolute;
              }
            }
          }
        }
        &__triangule {
          display: none;
        }
      }
    }
    &__mobile-bottom {
      display: grid;
      --f-gutter: 13px;
    }
  }
}