.banner {
  position: relative;
  min-height: rem(457px);
  padding: rem(42px) 0;
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  &__container {
    position: absolute;
    height: 100%;
    width: 120px;
    left: 0;
    @include respond-to("<=l") {
      left: -1.75rem;
    }
    @include respond-to("<=s") {
      display: none;
    }
  }
  &__rightContainer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: auto;
    @include respond-to("<=l") {
      right: -17px;
    }
  }
  &__right {
    position: relative;
    height: 100%;
    width: 120px;
    @include respond-to("<=m") {
      width: 92px;
    }
    @include respond-to("<=xs") {
      object-fit: cover;
      width: 120px;
    }
  }
  @include respond-to("<=l") {
    min-height: rem(330px);
    padding: rem(42px) 0;
    --f-gutter: 0;
  }
  @include respond-to("<=s") {
    justify-items: start;
    align-items: start;
    text-align: start;
    --f-gutter: 1rem;
    min-height: rem(350px);
    padding: rem(26px) 0;
    &__content {
      max-width: calc(100% - 92px);
    }
  }
}