.carousel {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: rem(26px);
  align-items: center;
  a {
    cursor: pointer;
    &:last-child {
      img {
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }
  &__content {
    overflow: hidden;
    justify-self: center;
  }
  @include respond-to("<=l") {
    grid-column-gap: 1rem;
  }
  @include respond-to("<=s") {
    grid-column-gap: rem(26px);
  }
}