.carousel {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: rem(26px);
  align-items: center;
  a {
    cursor: pointer;
  }
  &__content {
    overflow: hidden;
    justify-self: center;
  }
  @include respond-to("<=l") {
    grid-column-gap: 1rem;
  }
  @include respond-to("<=s") {
    grid-column-gap: rem(26px);
  }
}