.footer {
  overflow: hidden;
  * {
    color: white;
    li, li > a {
      color: $color-cyan;
      &:hover {
        color: $color-footer-hover;
      }
    }
    ul, li, h2, h2, p {
      margin: 0;
    }
  }
  @include respond-to("<=s") {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
  background-color: $color-blue;
  &__top {
    --f-gutter: 0px;
    --f-paragraph-margin: 0;
    &__content {
      display: grid;
      grid-template-areas: "pages information";
      padding: rem(42px) 0;
			align-items: center;
      &__pages {
        display: grid;
        grid-area: pages;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        > div {
          display: grid;
          grid-row-gap: rem(42px);
          grid-auto-rows: min-content;
          --f-h2-text-margin: 0 0 42px 0;
          h2 {
            font-size: 42px;
            line-height: 32px;
            @include respond-to("<=l") {
              font-size: 36px;
            }
          }
          ul {            
            display: grid;
            grid-row-gap: rem(10px);
            li {
              line-height: rem(20px);
              text-transform: capitalize;
              a {
                text-decoration: none;

              }
            }
          }
        }
      }
      &__information {
        display: grid;
        grid-area: information;
        grid-template-areas: "logo logo" "info social";
        grid-template-columns: 1fr auto;
        grid-row-gap: rem(25px);
        grid-column-gap: rem(20px);
        justify-items: end;
        > a {
          grid-area: logo;
          width: rem(140px);
          height: 72px;
          margin-top: rem(4px);
          position: relative;
        }
        ul {
          --f-list-item-margin: 0;
          grid-area: social;
          display: grid;
          grid-row-gap: 1rem;
          grid-auto-rows: min-content;
          padding-top: 1rem;
          a {
            position: relative;
            height: rem(24px);
            width: rem(24px);
            display: inline-block;
          }
        }
        p {
          grid-area: info;
          line-height: rem(28px);
          font-size: 16px;
          display: grid;
          align-content: center;
          text-align: right;
          width: max-content;
          max-width: 99vw;
          @include respond-to("<=l") {
            text-align: left;
          }
          @include respond-to("<=xs") {
           br {
            display: none;
           }             
          }
          span {
            display: block;
            font-size: 16px;
          }
        }
        &__logo {
          &__instaHover {
            display: none;
          }
          &__instaContainer:hover &__instaHover {
            display: block;
          }
          &__instaContainer:hover &__insta {
            display: none;
          }

          &__twitterHover {
            display: none;
          }
          &__twitterContainer:hover &__twitterHover {
            display: block;
          }
          &__twitterContainer:hover &__twitter {
            display: none;
          }

          &__linkedinHover {
            display: none;
          }
          &__linkedinContainer:hover &__linkedinHover {
            display: block;
          }
          &__linkedinContainer:hover &__linkedin {
            display: none;
          }
        }
      }
    }
    &__privacy {
      padding-bottom: 42px;
      > div > div {       
        border-top: 1px solid #495CE9;
        padding-top: 42px !important;
        @include respond-to("xxl") {
          padding-left: 0px !important;
        }       
      }
      &__anchor {
        width: 140px;
        color: #00D0F6;
        width: 100%;
        height: auto;
        text-decoration: none;        
        text-align: start;
        &:hover{
          color: #CCF7FF !important;
        }
        &:visited {
          color: #00D0F6;
        }
      }
    }
  }

  // large 1200px
  @include respond-to(">=xl") {
    &__top {
      &__content {
        padding: rem(42px) 0;
        &__pages {
          grid-template-columns: rem(221px) rem(223px) auto;
        }
        //&__information {
          // p {
          //   text-align: end;
          //   align-self: end;
          //   width: rem(413px);
          // }
        //}
      }
    }
  }

  // xlarge 1600px
  @include respond-to(">=xxl") {
    &__top {
      &__content {
        padding: rem(42px) 0;
        &__pages {
          grid-template-columns: rem(186px) rem(256px) rem(224px);
          grid-column-gap: rem(50px);
        }
        &__information {
          grid-column-gap: rem(26px);
          > a { width: rem(180px) }
          ul { padding: 0 }
          // p { width: rem(338px) }
        }
      }
    }
    &__bottom__name {
      padding: .5rem rem(120px);
    }
  }

  // xxlarge 2560px
  @include respond-to("xxxl") {
    &__top {
      &__content {
        padding: rem(42px) 0;
        &__pages {
          grid-template-columns: rem(221px) rem(256px) rem(220px);
        }
      }
    }
    &__bottom__name {
      padding: .5rem rem(96px);
    }
  }

  @include respond-to("l") {
    &__top {
      &__content {
        &__pages {
          > div {
            &:nth-child(2) { padding: 0 rem(25px) }
            &:last-child { justify-self: end }
          } 
        }
      }
    }
  }

  // # 992px - 1199px
  @include respond-to("<=l") {
    &__top {
      &__content {
        grid-template-areas: "information" "pages";
        grid-template-columns: 1fr;
        grid-row-gap: rem(26px);
        &__pages { padding: rem(10px) 0 }
        &__information {
          grid-template-columns: 1fr;
          grid-template-areas: "logo" "social" "info";
          grid-row-gap: 1rem;
          justify-items: start;
          ul {
            margin: 0;
            padding: 0;
            grid-template-columns: repeat(3, 1.5rem);
            grid-column-gap: 1rem;
          }
          p {            
            margin-top: rem(4px);
          }
        }
      }
    }
    &__bottom__sand {
      width: rem(414px);
    }
  }

  // # 768px
  @include respond-to("<=s") {
    &__top {
      &__content {
        grid-row-gap: rem(42px);
        &__pages {
          grid-template-columns: rem(246px) auto;
          grid-row-gap: rem(42px);
          grid-column-gap: rem(32px);
          padding: 0;
          > div { grid-row-gap: rem(26px) }
        }
        &__information > p {
          width: 100%;
        }
      }
    }
    &__bottom__sand {
      width: rem(174px);
    }
  }

  // # 400px
  @include respond-to("<=xs") {
    &__top {
      &__content {
        &__pages { grid-template-columns: 1fr }
        &__information { padding: 0 }
      }
    }
    &__bottom {
      width: 100%;
      &__sand {
        width: calc(100% - 272px);
        z-index: 0;
      }
      &__name {
        z-index: 2;
        background-color: $color-neutral-black;
        padding: .5rem rem(10px);
      }
    }
  }
}