.footer {
  position: relative;
  overflow: hidden;
  background-color: $color-neutral-black;
  color: white;
  padding: 40px 0;
  &__content {
    &__column {
      &__block {
        &__links {
          display: grid;
          grid-row-gap: 10px;
        }
      }
      span { color: white }
    }
  }
  &__sand {
    position: absolute;
    width: 418px;
    height: 94px;
    background-image: url("/sand.png");
  }
  @include respond-to(">s") {
    &__content {
      display: grid;
      grid-row-gap: .5rem;
      &__column {
        &__block > .content { justify-items: end }
        a, &__lkmx { text-align: end }
      }
    }
  }
  @include respond-to("<=s") {
    &__content {
      justify-items: center;
      text-align: center;
      a, &__block__lkmx { text-align: center }
    }
    &__sand { width: 100% }
  }
}