.footer {
  * {
    color: white;
  }
  background-color: $color-blue;
  &__top {
    --f-gutter: 0px;
    --f-paragraph-margin: 0;
    &__content {
      display: grid;
      grid-template-areas: "pages information";
      padding: rem(42px) rem(26px);
      &__pages {
        display: grid;
        grid-area: pages;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        > div {
          --f-h3-text-margin: 0 0 42px 0;
          h3 {
            --f-h3-text-size: 36px;
            --f-h3-text-line-height: 32px;
          }
        }
      }
      &__information {
        display: grid;
        grid-area: information;
        grid-template-areas: "logo logo" "info social";
        grid-template-columns: 1fr auto;
        grid-row-gap: rem(27px);
        grid-column-gap: rem(27px);
        justify-items: end;
        padding: rem(73px) rem(10px) rem(10px);
        > img {
          grid-area: logo;
          width: rem(140px);
        }
        ul {
          --f-list-item-margin: 0;
          grid-area: social;
          display: grid;
          grid-row-gap: 1rem;
        }
        p {
          grid-area: info;
          line-height: rem(30px);
          margin-top: 1rem;
        }
      }
    }
  }
  &__bottom {
    --f-gutter: 7px;
    background-color: $color-neutral-black;
    text-align: end;
    &__sand {
      position: absolute;
      height: rem(44px);
      background: url('/sand.png') repeat;
    }
    span {
      line-height: rem(30px);
    }
  }
  @include respond-to("<=l") {
    &__top {
      &__content {
        grid-template-columns: 1fr;
        grid-template-areas: "information" "pages";
        grid-row-gap: 2.5rem;
        &__pages {
          grid-template-columns: repeat(3, 1fr);
          grid-row-gap: rem(42px);
          > div {
            h3 {
              --f-h3-text-size: 36px;
              --f-h3-text-line-height: 32px;
              margin-bottom: rem(26px);
            }
          }
        }
        &__information {
          padding: 0;
          justify-items: start;
          grid-template-areas: "logo" "social" "info";
          grid-row-gap: 1rem;
          p { margin-top: rem(4px) }
          ul {
            grid-template-columns: repeat(3, auto);
            grid-column-gap: 1rem;
          }
        }
      }
    }
  }
  @include respond-to("l") {
    &__top {
      &__content {
        &__pages {
          > div {
            &:nth-child(2) { justify-self: center }
            &:last-child { justify-self: end }
            h3 { margin-bottom: rem(42px) }
          }
        }
        &__information {
          padding: rem(10px) 0;
          justify-items: start;
          p {
            text-align: start;
            max-width: rem(400px);
          }
        }
      }
    }
  }
  @include respond-to(">=xl") {
    &__top {
      &__content {
        padding: rem(42px) 1rem;
        grid-template-columns: max-content 1fr;
        &__pages {
          grid-template-columns: rem(221px) rem(223px) rem(220px);
          grid-column-gap: 1rem;
          padding-top: rem(92px);
          > div {
            h3 {
              margin-bottom: rem(42px);
            }
          }
        }
        &__information {
          padding-left: 0;
          grid-row-gap: rem(42px) !important;
          p {
            text-align: end; 
            max-width: rem(413px) !important;
          }
        }
      }
    }
    &__bottom__sand {
      width: rem(414px);
    }
  }

  @include respond-to(">=xxl") {
    &__top {
      &__content {
        max-width: 1408px;
        margin: auto;
        padding: rem(42px) 0;
        &__pages {
          grid-template-columns: rem(221px) rem(256px) rem(224px);
          grid-column-gap: 50px;
          > div {
            h3 {
              font-size: rem(42px);
            }
          }
        }
        &__information {
          grid-row-gap: 27px !important;
        }
        &__information > img {
          width: rem(180px);
        }
      }
    }
    &__bottom__sand {
      width: rem(848px) !important;
    }
  }

  @include respond-to("<=s") {
    &__top__content {
      &__pages {
        grid-template-columns: 1fr 1fr;
      }
      &__information {
        padding: rem(10px) 0;
      }
    }
    &__bottom__sand {
      width: rem(176px);
    }
  }

  @include respond-to("<=xs") {
    &__top__content {
      grid-template-areas: "information" "pages";
      &__pages {
        grid-template-columns: 1fr;
      }
      &__information {
        padding: 0;
        grid-template-columns: 1fr;
      }
    }
    &__bottom__sand {
      max-width: rem(108px);
      width: calc(100% - 286px);
    }
  }

  @include respond-to(">=m") {
    &__bottom__sand { width: rem(414px) }
  }
  @include respond-to(">=l") {
    &__bottom__sand { width: rem(400px) }
  }
}