.footer {
  position: relative;
  overflow: hidden;
  background-color: $color-neutral-black;
  color: white;
  padding: 40px 0 16px 0;
  &__content {
    display: grid;
    img {
      width: 247px;
      height: 99px;
    }
    &__column {
      &__block {
        &__links {
          display: grid;
          grid-row-gap: 10px;
        }
      }
      span { color: white }
    }
  }
  &__sand {
    position: absolute;
    width: 418px;
    height: 47px;
    bottom: 0;
    background-image: url("/sand.png");
  }
  @include respond-to(">s") {
    &__content {
      display: grid;
      grid-row-gap: .5rem;
      &__column {
        &__block > .content { justify-items: end }
        a, &__lkmx { text-align: end }
      }
    }
  }
  @include respond-to("<=s") {
    padding: 26px 0 0 0;
    &__content {
      justify-items: center;
      text-align: center;
      grid-row-gap: 26px;
      img {
        width: 104px;
        height: 41.68px;
        margin: auto;
      }
      &__column, &__column__block__links { grid-row-gap: 26px }
      &__column__lkmx > div {
        width: 100% !important;
      }
    }
    &__sand {
      position: relative;
      width: 100%;
      height: 1.5rem;
    }
  }
}

.logo {
  width: 247px;
  height: 99px;
}