.gallery {
  display: grid;
  grid-template-rows: min-content;
  grid-row-gap: 1rem;
  height: min-content;
  &__close {
    display: none;
    justify-items: end;
  }
  &__selected-image {
    padding: 1rem;
    height: rem(456px);
    overflow: hidden;
    filter: drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.08));
  }
  &__list {
    display: grid;
    grid-auto-flow: column;
    height: min-content !important;
    justify-items: center;
    position: relative;
    overflow: hidden;
    &__images {
      display: grid;
      grid-auto-flow: column;
      img {
        cursor: pointer;
        height: rem(124px);
        min-width: rem(124px);
        max-width: rem(124px) !important;
        padding: 1rem;
        filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.08));
      }
      a {
        &.selected > img {
          background-color: $color-bright-gray;
        }
      }
    }
    &__previous, &__next {
      cursor: pointer;
      position: absolute;
      display: grid;
      align-items: center;
      justify-items: center;
      width: rem(44px);
      top: 0;
      height: 100%;
      background: rgba(255, 255, 255, 0.6);
      z-index: 5;
    }
    &__next {
      right: 0;
    }
    &__previous {
      left: 0;
    }
  }
  @include respond-to("<=l") {
    grid-column-gap: 1rem;
    padding: 1rem;
    &__selected-image {
      padding: 0;
      height: rem(477px);
    }
  }
  @include respond-to("<=s") {
    grid-column-gap: rem(26px);
    > div {
      height: rem(258px);
      background-size: 100% auto !important;
    }
    &__list {
      &__previous, &__next {
        display: none;
      }
      img { display: none }
      &__images {
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 6px;
        a {
          background-color: $color-bright-gray;
          width: 6.5px;
          height: 6.5px;
          border-radius: 50%;
          &.selected {
            background-color: $color-cyan;
          }    
        }
      }
    }
  }
  &.fullScreen {
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    min-height: -webkit-fill-available;
    width: 100vw;
    background-color: $color-neutral-black;
    grid-column-gap: rem(26px);
    grid-template-rows: 1.5rem 1fr rem(28px);
    align-items: center;
    .gallery__close {
      height: 1.5rem;
      display: grid;
    }
    .gallery__selected-image {
      display: grid;
      align-items: center;
      justify-items: center;
      overflow: unset;
      height: 100%;
      img {
        max-height: calc(100vh - 116px);
      }
    }
    .gallery__list {
      display: grid;
      height: rem(28px) !important;
      align-items: center;
      &__previous, &__next {
        display: none;
      }
      img { display: none }
      &__images {
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 6px;
        a {
          background-color: $color-bright-gray;
          width: 6.5px;
          height: 6.5px;
          border-radius: 50%;
          &.selected {
            background-color: $color-cyan;
          }    
        }
      }
    }
  }
}