.header {
  position: relative;
  &__content {
    padding: $base-size;
    &__logo > a {
      display: none;
      position: absolute;
      left: 16px;
      top: 0;
      transform: translateY(100%);
      cursor: pointer;
    }
    &__links {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 42px;
      justify-self: end;
      a {
        padding: 8px 11px;
        text-align: center;
      }
    }
  }
  @include respond-to("<=s") {
    &__content {
      grid-template-columns: 1fr;
      justify-items: center;
      padding: $base-size;
      &__logo > a { display: block }
      &__links { display: none }
    }
  }
}