.header {
  position: relative;
  --f-gutter: 0px;
  padding: 1rem 0;
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $base-size;
    align-items: center;
    &__logo__menu {
      display: none;
      position: absolute;
      left: 0;
      top: -50;
      transform: translateY(50%);
      cursor: pointer;
    }
    &__links {
      display: grid;
      justify-items: end;
      &__pages {
        display: grid;
        width: max-content;
        grid-auto-flow: column;
        justify-self: end;
        grid-column-gap: 42px;
        justify-items: end;
        a {
          padding: 11px 8px;
          text-align: center;
          width: min-content;
        }
      }
    }
  }
  @include respond-to("<=s") {
    padding: .5rem 1rem;
    &__content {
      grid-template-columns: 1fr;
      justify-items: center;
      &__logo > a { display: block }
      &__links { display: none }
    }
  }
}