.menu {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: white;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-row-gap: .5rem;
    // transition: left .5s;
    // transition-timing-function: cubic-bezier(0.1, 0.9, 0.8, 0.7);

    &.hide {
        left: -100vw;
    }
    @include respond-to("<=s") {
        &.show {
            left: 0;
        }
    }

    @include respond-to(">s") {
        display: none;
    }

    &__head {
        align-items: center;
        &__logo {
            img {
                margin: 4px .5rem 0 0;
                width: rem(33px); 
                margin-left: auto;
            }
        }
    }
    &__body {
        &__links {
            display: grid;
            grid-row-gap: 2rem;
        }
    }
    &__head__block {
        &:last-child > div {
            display: grid;
            justify-items: end;
        }
    }
    &__triangle {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 41.66%;
        height: 71.96%;
        background-image: url("/clouds.png");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        div {
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
        }
    }
}