.services {
    &__column {
        &__block {
            > div {
                @include respond-to("xxxl") {
                    display: grid;
                    justify-content: center;
                    > div {
                    width: 1200px !important;
                    }
                }
            }
        }
        background-color: $color-bright-gray-01;
        padding: 72px 0;
        &__container {
            display:  grid;
            grid-template-columns: 2fr 1fr;
            @include respond-to("<=xs") {
                grid-template-columns: auto;
                justify-items: center;
            }
            @include respond-to("xxxl") {
                grid-template-columns: 1fr 1fr;
                justify-content: center;
                gap: 35px;
                justify-items: center;
            }
        }
        &__image {
            position: relative;
            width: 234px;
            aspect-ratio: 1;
            @include respond-to("<=xs") {
                transform: translateX(-103px);
            }
            @include respond-to("xxs") {
                transform: translateX(-85px);                
            }
        }
        &__block {
            > div {
                display: grid;
                justify-items: center;
            }
            &:first-child {
                @include respond-to("xxxl") {
                    justify-self: end;
                }
            }
            &:last-child {
                @include respond-to("<=xs") {
                    order: -1;
                }                
            }
            @include respond-to("l") {
                p {
                    br {
                        display: none;       
                    }
                }
            }
            @include respond-to("xxs") {
                h2 {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 32px;
                }
                p {
                    br {
                        display: none;       
                    }
                }
            }
        }
    }
    &__btn {
        gap: 4px;
        width: 85px;
        height: 40px;
        background: $color-btn-default;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: white;
        padding: 8px 15px;
        cursor: pointer;
        text-align: center;
        text-transform: capitalize;
        &:hover {
            background-color: $color-btn-hover;
        }
    }
}