.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 300px;
    height: 100vh;
    z-index: 10;
    background-color: white;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-row-gap: .5rem;
    &__head {
        align-items: center;
        &__logo {
            img {
                margin: 4px .6rem 0 0;
                width: rem(33px); 
                margin-left: auto;
            }
        }
    }
    &__body {
        &__links {
            display: grid;
            grid-row-gap: 2rem;
        }
        &__img {
            width: rem(125px);
            height: rem(480px);
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
    &__head__block {
        &:last-child > div {
            display: grid;
            justify-items: end;
        }
    }
}