.proyects {
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1rem;
        a {
            border-radius: .5rem;
            text-decoration: none;
            h2 { color: $color-pink }
        }
    }
}