.work {
    &__hero {
        height: $h-height-large;
        * { color: white }
        &__block {
            > div > div {
                display: grid;
                height: 100%;
            }
            &:first-child { background-color: $color-neutral-black }
            &:last-child {
                position: relative;
                --f-gutter: 0;
                background-color: $color-blue;
                .triangule, .wave, .clouds {
                    overflow: hidden;
                    position: absolute;
                    height: 100%;
                }
                .triangule {
                    width: rem(155px);
                    background-color: $color-blue;
                    background-image: linear-gradient(to bottom right, $color-neutral-black 0%, $color-neutral-black 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
                }
                .code {
                    z-index: 5;
                    background-image: url("/code--black-bg.svg");
                    background-repeat: no-repeat;
                    position: relative;
                    overflow: hidden;
                    background-position: 0% 50%;
                    background-size: 555px 910px;
                }
                .wave {
                    top: 0;
                    right: rem(120px);
                    width: rem(155px);
                    height: $h-height-large;
                    z-index: 9;
                }
                .clouds {
                    overflow: hidden;
                    right: 0;
                    width: rem(120px);
                    background-color: $color-pink;
                    div {
                        top: rem(120px);
                        background-color: white;
                        position: relative;
                        width: 100%;
                        height: 100%;
                        background-image: url("/clouds.svg");
                    }
                }
            }
            &__left {
                height: max-content;
                display: grid;
                grid-row-gap: 0.9rem;
                align-self: end;
                max-width: rem(347px);
                padding: 1rem;
                padding-bottom: rem(54.6px);
                h2 {
                    font-family: $font-tertiary;
                    margin: 0;
                    font-size: rem(35px);
                    text-transform: uppercase;
                }
                p {
                    margin: 0;
                    font-size: rem(20px);
                    line-height: rem(30px);
                    strong {
                        font-size: 1.5rem;
                        line-height: 2rem;
                        &:first-child { color: $color-pink }
                        &:last-child { color: $color-cyan }
                    }
                    span {
                        display: block;
                    }  
                }
            }
        }
    }
    &__list {
        overflow: hidden;
        padding: 56px 0;
        &__column {
            padding: 92px 0;
            &__left, &__right {
                position: relative;
                > div > div { height: 100% }
                &__content {
                    height: 100%;
                    max-width: rem(542px);
                    display: grid;
                    grid-row-gap: 1rem;
                    h3, p { margin: 0 }
                    p { min-height: rem(72px) }
                    ul {
                        margin: 0;
                        li {
                            text-align: end;
                            margin: 0;
                            line-height: 1.5rem;
                            font-size: 14px;
                        }
                    }
                }
            }
            &__left {
                &__content {
                    grid-template-rows: auto 1fr;
                    justify-items: end;
                    h3 {
                        font-size: rem(20px);
                        line-height: 2rem;
                        text-align: right;
                    }
                }
            }
            &__right {
                h3 {
                    color: $color-cyan;
                    font-size: 1.5rem;
                    line-height: 2rem;
                    text-transform: uppercase;
                    font-family: $font-secondary;
                }
                p { 
                    max-width: rem(476px);
                    height: rem(72px);
                    line-height: 20px;
                }
            }
            .line {
                top: -300px;
                right: 0;
                position: absolute;
                background-color: #EBEAE8;
                width: 1px;
                height: 100vh;
            }
        }
    }
    @include respond-to("<=l") {
        &__hero {
            &__block {
                &:last-child {
                    .wave { right: 0 }
                    .clouds { display: none }
                }
            }
        }
        &__list {
            &__column {
                &__left, &__right {
                    &__content {
                        height: 100%;
                        max-width: rem(461px);
                        display: grid;
                        grid-template-rows: auto 1fr 2rem;
                        grid-row-gap: 1rem;
                        h3, p { margin: 0 }
                        p {
                            min-height: auto;
                            line-height: rem(28px);
                        }
                    }
                }
            }
        }
    }
    @include respond-to("<=s") {
        --f-golden-ratio: 1.47;
        &__hero {
            height: auto;
            overflow: hidden;
            &__block {
                &:first-child { height: rem(324px) }
                &:last-child {
                    height: rem(350px);
                    .triangule { width: rem(92px) }
                    .wave {
                        transform: translateX(100%);
                        right: 92px;
                    }
                    .code{
                        background-position: 0% 12%;
                    }
                }
                &__left {            
                    padding: 0;
                    padding-bottom: 40px;
                    p {
                        font-size: 1rem;
                        line-height: rem(28px);
                    }
                }
            }
        }
        &__list {
            padding: rem(36px) 0;
            &__column {
                padding: rem(56px) 0;
                &__left, &__right {
                    &__content {
                        h3 {
                            text-transform: none;
                            font-size: rem(20px);
                            line-height: rem(28px);
                            text-transform: uppercase;
                        }
                        p, li { 
                            min-height: auto;
                            font-size: rem(14px);
                            line-height: 1.5rem;
                        }
                    }
                }
            }
        }
    }
    @include respond-to("<=xs"){
        &__hero {
            &__block {
                &:last-child {
                    .code {
                        background-position: 0% 12%;
                    }
                }
            }
        }
        &__list {
            &__column { grid-template-rows: auto 1fr;
                &__left, &__right {
                    &__content {
                        p {
                            height: auto;
                            width: rem(192px);
                        }
                    }
                }
            }
        }
    }
}