.project {
    position: relative;
    display: grid;
    grid-row-gap: rem(56px);

    &__column {
        &:first-child, &:last-child { --f-gutter: 0 }
        &:first-child {
            background-color: $color-neutral-black;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 5;
        }
        &__block {
            > div > div {
                height: 100%;
            }
            &__go-back {
                height: rem(44px);
                width: max-content;
                padding: 0 1rem;
                display: grid;
                grid-template-columns: auto 1fr;
                grid-column-gap: rem(10px);
                align-items: center;
                color: white;
                &__clouds {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
            &__container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 1rem;
                padding-bottom: 1rem;
                &__content {
                    padding: 1rem;
                    display: grid;
                    grid-row-gap: rem(56px);
                    padding-bottom: 2.5rem;
                    p { line-height: rem(28px) }
                    h3 { color: $color-blue }
                    &__headline {
                        h2 {
                            color: $color-pink;
                            margin: 0;
                            text-transform: uppercase;
                        }
                        p {
                            font-size: rem(20px);
                            line-height: rem(30px);
                            margin: 0;
                        }
                    }
                    &__info {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-column-gap: 1rem;
                        h3 {
                            font-size: rem(20px);
                            line-height: rem(28px);
                            margin: 0;
                        }
                        span { line-height: 28px }
                    }
                    &__description {
                        h3 { color: $color-neutral-black }
                        p {
                            margin-bottom: 28px;
                            &:last-child { margin: 0 }
                        }
                    }
                    &__technologies {
                        display: grid;
                        grid-row-gap: rem(22px);
                        h3 {
                            text-transform: uppercase;
                            font-size: 1.5rem;
                            line-height: 2rem;
                            margin: 0;
                        }
                        ul {
                            display: grid;
                            grid-row-gap: 1rem;
                            li {
                                margin: 0;
                                display: grid;
                                grid-template-columns: 165px 1fr;
                                grid-column-gap: 1rem;
                                div {
                                    img {
                                        height: 3rem;
                                        display: inline-block;
                                        padding: .5rem;
                                        vertical-align: middle;
                                    }
                                }
                                span {
                                    padding: .5rem 0;
                                    line-height: rem(28px);
                                }
                            }
                        }
                    }
                }
                &__galery {
                    > div {
                        position: -webkit-sticky;
                        position: sticky;
                        top: 44px;
                        z-index: 4;
                    }
                }
            }
        }
    }
    @include respond-to("<=l") {
        grid-row-gap: 1.5rem;
        &__column {
            &:last-child { --f-gutter: 16px }
            &__block {
                > div > div {
                    height: 100%;
                }
                &__container {
                    height: 100%;
                    padding-bottom: rem(100px);
                    &__content {
                        grid-row-gap: 1rem;
                        &__headline {
                            p {
                                font-size: 1rem;
                                line-height: rem(28px);
                            }
                        }
                        &__info {
                            padding: 20px 0;
                            h3 {
                                font-size: 1rem;
                                line-height: 24px;
                            }
                        }
                        &__technologies > ul {
                            grid-row-gap: .5rem;
                        }
                    }
                }
            }
        }
    }
    @include respond-to("<=s") {
        grid-row-gap: 0;
        &__column {
            &:last-child { --f-gutter: 0 }
            &__block {
                > div > div { height: 100% }
                &__go-back__clouds { display: none }
                &__container {
                    padding-bottom: 0;
                    grid-template-columns: 1fr;
                    grid-template-areas: "galery" "content";
                    h3 {
                        font-size: 1rem;
                        line-height: 1.5rem;
                    }
                    &__content {
                        grid-area: content;
                        grid-row-gap: rem(26px);
                        span {
                            font-size: rem(14px);
                            line-height: 1.5rem !important;
                        }
                        &__info {
                            padding: 0;
                            grid-template-columns: auto auto auto;
                            grid-column-gap: .5rem;
                        }
                        &__technologies > ul {
                            grid-row-gap: .5rem;
                            li {
                                grid-template-columns: rem(90px) 1fr;
                                grid-column-gap: .5rem;
                                span {
                                    padding: .5rem 0;
                                    height: min-content;
                                }
                            }
                        }
                    }
                    &__galery { grid-area: galery }
                }
            }
        }
    }
}