.storiesPage {
    max-width: 100vw;
    &__hero {
        height: 591px;
        overflow: hidden;
        @include respond-to("<=s") {
            min-height: 674px;
        }
        &__left {            
            z-index: 1;
            @include respond-to("<=s") {
                min-height: 324px;
            } 
            > div {
                width: 100% !important;
            }
            > div > div {
                display: grid;
                position: relative;
                width: 100% !important;
                @include respond-to("<=s") {
                    width: 100vw !important;
                    height: 100%;
                }
            }
            > div {
                @include respond-to("xxxl") {
                    display: grid;
                    justify-content: center;
                    position: relative;
                    > div {
                        position: absolute;
                        right: 16px !important;
                    }
                }
            }
            background-color: $color-neutral-black;
            h1, p {
                color: white;
            }
            &__content {
                position: absolute;
                bottom: 70px;
                right: 93px;
                @include respond-to("xxxl") {
                    right: 23px;
                }
                @include respond-to("<=l") {
                    right: 0;
                }
                @include respond-to("m") {
                    overflow: hidden;
                    right: unset;
                    left: 16px;
                }
                @include respond-to("<=s") {
                    right: unset;
                    bottom: unset;
                    margin: auto;
                    place-self: center;
                } 
                h1 {
                    line-height: 47px;
                    font-family: var(--lk-font-inter);
                }
                p {
                    font-size: 20px;
                    line-height: 30px;
                }
            }
            &__triangle {
                position: relative;
                height: 591px;
                width: 155px;
                justify-self: end;
                transform: translate(170px, -16px);           
                @include respond-to("<=s") {
                    display: none;
                }     
                @include respond-to("xxxl") {
                    transform: translate(187px, -16px);
                }
            }
        }
        &__right {
            z-index: 0;
            background-color: $color-cyan;            
            &__code {
                position: relative;
                height: 913px;
                width: 555px;                
                transform: translate(-32px, -330px);
                @include respond-to("<=s") {
                    transform: translate(-30px, -400px);
                }
            }
            &__koi {
                position: absolute;
                top: -146px;
                right: 0;
                width: 487px;
                height: 885px;     
                @include respond-to ("<=l") {
                    width: 402px;
                    height: 833px;
                }           
                @include respond-to("<=s") {
                    width: 266px;
                    height: 756px;
                    top: 103px;
                    right: -19px;
                }
            }
        }
    }
    &__storiesBlock {
        padding: 0 0 108px 0;
        @include respond-to("<=s") {
            padding: 0;
        }
        > div > div {
            padding: 108px 0 !important;
        }
        > div {
            @include respond-to("xxxl") {
                display: grid;
                justify-content: center;
                > div {
                    width: 1200px !important;
                }
            }
        }
    }
    &__storiesGrid {
        h2 {
            margin-bottom: 0;
            margin-top: 26px;
        }
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        justify-items: center;
        @include respond-to("<=s") {
            grid-template-columns: auto;
            justify-items: center;
            row-gap: rem(63.6px);
        }
        &__left {
            transform: translateY(90px);  
            @include respond-to("<=s") {
                transform: translateY(0px);
            }
        }
        &__soon {         
            &__hide {
                @include respond-to("<=l") {
                    display: none !important;
                }
            }
            &__image {
                width: 568px;
                height: 600px;
                background-color: $color-bright-gray;
                @include respond-to("<=l") {
                    width: 343px;
                    height: 400px;
                }
            }            
        }
        &__item {            
            &:hover {                                
                img {
                    filter: grayscale(1);
                    transition: .2s ease-in;
                }
            }
            &__img{
                position: relative;
                width: 568px;
                height: 568px;
                background-color: $color-bright-gray;
                @include respond-to("l") {
                    width: 468px;
                    height: 468px;
                }
                @include respond-to("m") {
                    width: 364px;
                    height: 364px;
                }
                @include respond-to("s") {
                    width: 352px;
                    height: 352px;
                }
                @include respond-to("<=xs") {
                    width: 343px;
                    height: 343px;
                }
                img {
                    object-fit: cover;
                }
            }
            a {
                text-decoration: none;
            }           
            h2 {
                @include respond-to("<=m") {
                    br {
                        display: none;
                    }
                }
                @include respond-to("<=s") {
                    max-width: 343px;                    
                }
            }
            span {
                color: $color-pink;
                font-family: var(--lk-font-roboto);
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                text-transform: uppercase;
            } 
        }
    }
}