.storiesPage {
    &__hero {
        height: 591px;
        overflow: hidden;
        @include respond-to("<=s") {
            min-height: 674px;
        }
        &__left {
            z-index: 1;
            @include respond-to("<=s") {
                min-height: 324px;
            } 
            > div {
                width: 100% !important;
            }
            > div > div {
                display: grid;
                position: relative;
                width: 100% !important;
                @include respond-to("<=s") {
                    width: 100vw !important;
                    height: 100%;
                }
            }
            background-color: $color-neutral-black;
            h1, p {
                color: white;
            }
            &__content {
                position: absolute;
                bottom: 70px;
                right: 93px;
                @include respond-to("<=l") {
                    right: 0;
                }
                @include respond-to("m") {
                    overflow: hidden;
                    right: unset;
                    left: 16px;
                }
                @include respond-to("<=s") {
                    right: unset;
                    bottom: unset;
                    margin: auto;
                    place-self: center;
                } 
                h1 {
                    line-height: 47px;
                    font-family: var(--lk-font-inter);
                }
                p {
                    font-size: 20px;
                    line-height: 30px;
                }
            }
            &__triangle {
                position: relative;
                height: 591px;
                width: 155px;
                justify-self: end;
                transform: translate(170px, -16px);           
                @include respond-to("<=s") {
                    display: none;
                }     
            }
        }
        &__right {
            z-index: 0;
            background-color: $color-cyan;            
            &__code {
                position: relative;
                height: 913px;
                width: 555px;                
                transform: translate(-32px, -330px);
                @include respond-to("<=s") {
                    transform: translate(-30px, -400px);
                }
            }
            &__koi {
                position: absolute;
                top: -146px;
                right: 0;
                width: 487px;
                height: 885px;     
                @include respond-to ("<=l") {
                    width: 402px;
                    height: 833px;
                }           
                @include respond-to("<=s") {
                    width: 266px;
                    height: 756px;
                    top: 103px;
                    right: -19px;
                }
            }
        }
    }
    &__storiesGrid {
        h2 {
            margin-bottom: 0;
            margin-top: 26px;
        }
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 92px 0px;
        gap: 32px;
        @include respond-to("<=s") {
            grid-template-columns: auto;
            justify-items: center;
            row-gap: 16px;
        }
        &__soon {
            transform: translateY(90px);            
            &__hide {
                @include respond-to("<=l") {
                    display: none !important;
                }
            }
            @include respond-to("<=s") {
                transform: translateY(0px);
            }
            &__image {
                width: 568px;
                height: 600px;
                background-color: $color-bright-gray;
                @include respond-to("<=l") {
                    width: 343px;
                    height: 400px;
                }
            }            
        }
        &__item {
            &__img{
                position: relative;
                width: 568px;
                height: 600px;
                background-color: $color-bright-gray;
                @include respond-to("<=l") {
                    width: 343px;
                    height: 400px;
                }
            }
            a {
                text-decoration: none;
            }           
            span {
                color: $color-pink;
                font-family: var(--lk-font-roboto);
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
            } 
        }
    }
}